{% extends 'template_3/layouts/default.twig' %}

{% block content %}
    <div class="homepage-wrapper">
        <section class="slider-wp">
            <div class="container">
                <div class="slider-main-content">
                    <div class="banner-video-wrapper">
                        <iframe
                                src="https://www.youtube.com/embed/IP_dD7Yi7Zo?autoplay=1&controls=0&loop=1&playlist=IP_dD7Yi7Zo&playsinline=1&mute=1"
                                frameborder="0"
                                allow="accelerometer; autoplay; fullscreen; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen
                                class="w-100 h-100"
                                id="banner-video"
                        ></iframe>
                        <div class="img-cover">
                            {# <img src="static/template_3/images/video-image-cover.jpg" alt/>#}
                            <img src="{{ content.project_image_url }}" alt="{{ content.project_name }}"/>
                        </div>
                    </div>
                    <div class="block-info">
                        <h1 class="title mb-0">
                            ƯU ĐÃI
                            <span class="yellow">25%</span>
                        </h1>
                        <div class="sub-title">CẢI TẠO NỘI THẤT CHỈ 24 GIỜ!</div>
                        <div class="ttc">Ưu đãi áp dụng trọn gói nội thất rời*</div>
                    </div>
                </div>
            </div>
        </section>
        <section id="tu-van-thiet-ke" class="apartment-types-block container">
            <div class="title">BẠN MUỐN THIẾT KẾ CHO LOẠI CĂN HỘ</div>
            <hr>
            <div class="apartment-types">
                {% if content.blockRooms is not empty and content.blockRooms | length > 0 %}
                    {% for room in content.blockRooms %}
                    <div class="apartment-type">
                        <div class="title">{{ room.name }}</div>
                        <div class="apartment-style-slider-wrapper apartment-style-slider-wrapper-1">
                            {% if room.dataRooms is not empty and room.dataRooms | length > 0 %}
                                {% for type in room.dataRooms %}
                                    <a href="{{ base_url }}{{ room.type }}/{{ type['slug'] }}-{{ type['int_id'] }}"
                                    class="apartment-style-slider p-1 pt-0 pb-0">
                                        <div class="apartment-style-item">
                                            <div class="image-wrapper">
                                                <img src="{{ type['layout_image_url'] }}" alt="{{ type['layou_name'] }}"
                                                    class="img-responsive">
                                                <span class="price">Giá chỉ từ: {{ type['metadata']['price']['estimated'] | number_format }} VND</span>
                                            </div>
                                            <div class="desc">
                                                <div class="row">
                                                    <span class="label">Tên dự án</span>
                                                    <span class="value">{{ type['project_name'] }}</span>
                                                </div>
                                                <div class="row">
                                                    <span class="label">Diện tích(m2)</span>
                                                    <span class="value">{{ type['area'] }}</span>
                                                </div>
                                                <div class="row d-none">
                                                    <span class="label">Toà nhà</span>
                                                    <span class="value"></span>
                                                </div>
                                                <div class="row d-none">
                                                    <span class="label">Mã căn hộ</span>
                                                    <span class="value"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </section>
        <section class="steps-block container">
            <div class="title">4 BƯỚC CẢI TẠO NỘI THẤT DỄ DÀNG</div>
            <div class="steps justify-content-center">
                <div data-init="1" class="step active">
                    <span class="num-wrapper">
                        <span class="num">1</span>
                    </span>
                    <span class="desc"> Tư vấn thiết kế <b>trực tuyến</b> cùng <br>kiến trúc sư FITIN</span>
                </div>
                <div data-init="2" class="step">
                    <span class="num-wrapper">
                        <span class="num">2</span>
                    </span>
                    <span class="desc"> Nhận thiết kế 3D <b>Miễn Phí</b> cùng <br>báo giá chi tiết trong <span style="color:#d5a42d">24 giờ!</span></span>
                </div>
                <div data-init="3" class="step">
                        <span class="num-wrapper">
                            <span class="num">3</span>
                        </span>
                    <span class="desc"> Hoàn thiện cải tạo căn hộ  <br><span style="color:#d5a42d">Tiết kiệm đến 25%</span></span>
                </div>
                <div data-init="4" class="step">
                    <span class="num-wrapper">
                        <span class="num">4</span>
                    </span>
                    <span class="desc"> Tận hưởng không gian sống chất lượng</span>
                </div>
            </div>
            <div class="steps-slider">
                <div class="fit-slider fit-step-slider slide">
                    <div class="item">
                        <img src="static/template_3/images/slideItem/f-1.jpg" class="img-responsive">
                        <div class="caption">
                            <div class="slider-item-info d-flex justify-content-center align-items-center">
                                <p>FITIN luôn sẵn sàng tư vấn thiết kế Miễn Phí cho căn hộ của bạn (cả Trực
                                    tuyến & Trực tiếp).</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="static/template_3/images/slideItem/f-2.jpg" class="img-responsive">
                        <div class="caption">
                            <div class="slider-item-info d-flex justify-content-center align-items-center">
                                <p>Khám phá thiết kế 3D đẹp với vài click chuột. Tùy biến thiết kế và nhận
                                    báo giá trong 24 giờ</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="static/template_3/images/slideItem/f-3.jpg" class="img-responsive">
                        <div class="caption">
                            <div class="slider-item-info d-flex justify-content-center align-items-center">
                                <p>Lựa chọn & thay đổi nội thất dễ dàng với hơn 3000 sản phẩm chất lượng.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="static/template_3/images/slideItem/f-4.jpg" class="img-responsive">
                        <div class="caption">
                            <div class="slider-item-info d-flex justify-content-center align-items-center">
                                <p>Ưu đãi áp dụng trọn gói nội thất rời.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {# <a class="btn btn-fitin-hadocentrosa">TƯ VẤN NGAY</a> #}
        <div style="margin-top:100px">
            {% include 'components/section-offices.twig' %}
        </div>
        <section id="thong-tin-du-an" class="video-block container">
            <div class="title">CẢI TẠO NỘI THẤT NHANH CHÓNG & TIẾT KIỆM CÙNG FITIN 3D PRO</div>
            <div class="video-wrapper">
                <iframe src="https://www.youtube.com/embed/H5yqWALItXY" frameborder="0"
                        allow="accelerometer; autoplay; fullscreen; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </section>
        <div style="margin-top:100px">
            {% include 'components/section-news-about.twig' %}
        </div>
        {% include 'components/section-partners.twig' %}
        <section id="tu-van" class="form-support">
            <script>window.ApiSubmitHubspot = '{{ config.quotation_url }}/api/v1/hubspot/form/quick/submit'</script>
            <form action="">
                <div class="form">
                    <div class="form-title">BẠN CẦN CẢI TẠO PHÒNG CHỨC NĂNG?</div>
                    <div class="form-field">
                        <label for="customer-name">Diện tích phòng trong khoảng</label> 
                        <input name="area" required="required" class="txt-name" type="text">
                    </div>
                    <div class="form-field">
                        <label for="customer-name">Chi phí trong khoảng</label> 
                        <input name="budget" required="required" class="txt-name" type="text">
                    </div>
                    <div class="form-field">
                        <label for="customer-name">Yêu cầu thêm</label> 
                        <input name="support" required="required" class="txt-name" type="text">
                    </div>
                    <span style="font-style:italic;font-size:12px">Vui lòng để lại thông tin, FITIN sẽ liên hệ bạn ngay</span> 
                    <div class="form-field">
                        <label for="customer-name">Tên của bạn</label> 
                        <input name="customer-name" required="required" class="txt-name" type="text">
                    </div>
                    <div class="form-field">
                        <label for="phone">Số điện thoại của bạn</label> 
                        <input name="phone" type="number" required="required" class="txt-name">
                    </div>
                    <div class="form-field">
                        <label for="phone">Email của bạn</label>
                        <input name="email" type="email" required="required" class="txt-name">
                    </div>
                    <div class="form-field">
                        <button type="submit" class="btn btn-fitin">GỬI YÊU CẦU</button>
                    </div>
                </div>                
            </form>
        </section>
        <section class="banner-footer container d-none">
            <div class="banner-footer-content">
                <img src="static/template_3/images/footer-banner.jpg" alt="Ý tưởng cho không gian hiện đại"
                     class="image-left">
                <div class="content-right">
                    <div class="top">
                        <div class="title">Ý Tưởng Cho Không Gian Hiện Đại</div>
                        <div class="description">Khám phá ngay bộ sưu tập nội thất 2020 phù hợp căn hộ {{ content.project_name }}!
                        </div>
                    </div>
                    <hr>
                    <div class="bottom">
                        <div class="quote">“Thiết kế tốt đến từ người kiến tạo tốt. Mọi vấn đề đều có thể giải quyết
                            bằng những giải pháp hay”
                        </div>
                        <div class="author">– Stephen Gardiner -</div>
                    </div>
                    <a class="btn btn-discover">TẢI NGAY</a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
