{% extends 'template_2/layouts/default.twig' %}

{% block content %}
    <div class="homepage-wrapper">
        <section class="slider-wp">
            <div class="container">
                <div class="slider-main-content">
                    <div class="banner-video-wrapper">
                        <iframe
                                src="https://www.youtube.com/embed/IP_dD7Yi7Zo?autoplay=1&controls=0&loop=1&playlist=IP_dD7Yi7Zo&playsinline=1&mute=1"
                                frameborder="0"
                                allow="accelerometer; autoplay; fullscreen; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen
                                class="w-100 h-100"
                                id="banner-video"
                        ></iframe>
                        <div class="img-cover">
                            {#                            <img src="static/template_2/images/video-image-cover.jpg" alt/>#}
                            <img src="{{ content.project_image_url }}" alt="{{ content.project_name }}"/>
                        </div>
                    </div>
                    <div class="block-info">
                        <h1 class="title mb-0">
                            ƯU ĐÃI
                            <span class="yellow">25%</span> TRỌN GÓI NỘI THẤT
                        </h1>
                        <div class="sub-title">THIẾT KẾ NGUYÊN CĂN <span
                                    class="text-uppercase">{{ content.project_name }}</span> CHỈ 24 GIỜ!
                        </div>
                        <div class="ttc">Ưu đãi áp dụng trọn gói nội thất rời*</div>
                    </div>
                </div>
            </div>
        </section>
        {% include 'components/section-steps.twig' %}
        <section class="apartment-types-block container">
            <div class="title">BẠN MUỐN THIẾT KẾ CHO LOẠI CĂN HỘ</div>
            <hr>
            <div class="project-layouts-list-wrapper mt-0">
                <div class="other-design mt-5 mb-3">
                    <div class="apartment-types container flex-row">
                        {% if content.bed_room_num_1 is not empty and content.bed_room_num_1 | length > 0 and content.roomNumber != 1 %}
                            <div class="apartment-type">
                                <a href="/thiet-ke/can-ho-1-phong-ngu">
                                    <div class="apartment-type-wrapper" style="border: 1px solid rgba(0,0,0,.27);">
                                        <div class="image-wrapper">
                                            <img src="static/template_2/images/room-1-bedroom.jpg" alt="" srcset="">
                                        </div>
                                        <div class="name font-weight-bold" style="font-size: 1.2rem;">Căn hộ 1 Phòng ngủ</div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                        {% if content.bed_room_num_2 is not empty and content.bed_room_num_2 | length > 0 and content.roomNumber != 2 %}
                            <div class="apartment-type">
                                <a href="/thiet-ke/can-ho-2-phong-ngu">
                                    <div class="apartment-type-wrapper" style="border: 1px solid rgba(0,0,0,.27);">
                                        <div class="image-wrapper">
                                            <img src="static/template_2/images/room-2-bedroom.jpg" alt="" srcset="">
                                        </div>
                                        <div class="name font-weight-bold" style="font-size: 1.2rem;">Căn hộ 2 Phòng ngủ</div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                        {% if content.bed_room_num_3 is not empty and content.bed_room_num_3 | length > 0 and content.roomNumber != 3 %}
                            <div class="apartment-type">
                                <a href="/thiet-ke/can-ho-3-phong-ngu">
                                    <div class="apartment-type-wrapper" style="border: 1px solid rgba(0,0,0,.27);">
                                        <div class="image-wrapper">
                                            <img src="static/template_2/images/room-3-bedroom.jpg" alt="" srcset="">
                                        </div>
                                        <div class="name font-weight-bold" style="font-size: 1.2rem;">Căn hộ 3 Phòng ngủ</div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        <a class="btn btn-fitin-hadocentrosa">TƯ VẤN NGAY</a>
        {% include 'components/section-video.twig' %}
        <section id="tu-van" class="form-support">
            <script>window.ApiSubmitHubspot = '{{ config.quotation_url }}/api/v1/hubspot/form/quick/submit'</script>
            <form action="">
                <div class="form">
                    <input type="hidden" name="project" value="{{ content.project_name }}">
                    <input type="hidden" name="tower" value="{{ content.project_name }}">
                    <div class="form-title">BẠN ĐÃ SẴN SÀNG CHO CĂN HỘ TRONG MƠ</div>
                    <!---->
                    <div class="form-field">
                        <label for="supports">Bạn cần Fitin</label>
                        <select id="supports" class="custom-select">
                            <option value="Tư vấn cải tạo căn hộ">Tư vấn cải tạo căn hộ</option>
                            <option value="Tư vấn nội thất phù hợp với nhu cầu">Tư vấn nội thất phù hợp với nhu cầu
                            </option>
                            <option value="Tư vấn thi công cải tạo phòng khách">Tư vấn thi công cải tạo phòng khách
                            </option>
                            <option value="Tư vấn thi công cải tạo phòng ngủ">Tư vấn thi công cải tạo phòng ngủ</option>
                            <option value="Yêu cầu khác ..">Yêu cầu khác ..</option>
                        </select>
                    </div>
                    <span style="font-style:italic;font-size:12px">Vui lòng để lại thông tin, FITIN sẽ liên hệ bạn ngay</span>
                    <div class="form-field">
                        <label for="customer-name">Tên của bạn</label>
                        <input name="customer-name" required class="txt-name">
                    </div>
                    <div class="form-field">
                        <label for="phone">Số điện thoại của bạn</label>
                        <input name="phone" type="number" required class="txt-name">
                    </div>
                    <div class="form-field">
                        <label for="phone">Email của bạn</label>
                        <input name="email" type="email" required class="txt-name">
                    </div>
                    <div class="form-field">
                        <button type="submit" class="btn btn-fitin">GỬI YÊU CẦU</button>
                    </div>
                </div>
            </form>
        </section>
        {% include 'components/section-idea-space.twig' %}
        {% include 'components/section-partners.twig' %}
        {% include 'components/section-news-about.twig' %}
        {# {% include 'components/section-offices.twig' %} #}
    </div>
{% endblock %}
