<template>
  <div class="footer line-t">
    <div class="container">
      <div class="footer-top">
        <div class="row">
          <div class="w-50 f-l-res mr-bt-20 col-md-3">
            <a href="/" class="logo-ft mobile-view">
              <img alt="logo" src="~/assets/images/logo.png" class="App-logo" />
            </a>
            <h4 class="txt-tranform">LIÊN HỆ VỚI FITIN</h4>
            <div>
              <p>
                <strong>Hotline CSKH:</strong>&nbsp;1900 3008
              </p>
              <p>(1.000đ/phút&nbsp;, 8h30 - 12h00 và 13h30&nbsp;- 17h30&nbsp;</p>
              <p>từ thứ Hai&nbsp;tới&nbsp;thứ Bảy trừ các Ngày Lễ)</p>
              <p>
                <strong>Email</strong>:
                <a href="mailto:dichvukhachhang@fitin.vn">dichvukhachhang@fitin.vn</a>
              </p>
            </div>
            <a :href="URL_ECOM" class="logo-ft desktop-view">
              <img alt="logo" src="~/assets/images/logo.png" class="App-logo" />
            </a>
          </div>
          <div class="w-50 f-l-res mr-bt-20 col-md-3">
            <h4 class="txt-tranform">về chúng tôi</h4>
            <ul class="block-item-ft">
              <li>
                <a :href="URL_ECOM + '/page/gioi-thieu/'" title="Giới thiệu" class="link">Giới thiệu</a>
              </li>
              <li>
                <a
                  :href="URL_ECOM + '/page/chinh-sach-bao-mat-thanh-toan/'"
                  title="Chính sách bảo mật thanh toán"
                  class="link"
                >Chính sách bảo mật thanh toán</a>
              </li>
              <li>
                <a
                  :href="URL_ECOM + '/page/chinh-sach-bao-mat-thong-tin-ca-nhan/'"
                  title="Chính sách bảo mật thông tin cá nhân"
                  class="link"
                >Chính sách bảo mật thông tin cá nhân</a>
              </li>
              <li>
                <a
                  :href="URL_ECOM + '/page/quy-che-hoat-dong-san-giao-dich-tmđt-fitin/'"
                  title="Quy chế hoạt động sàn giao dịch TMĐT Fitin"
                  class="link"
                >Quy chế hoạt động sàn giao dịch TMĐT Fitin</a>
              </li>
              <li>
                <a
                  :href="URL_ECOM + '/page/ban-hang-cung-fitin/'"
                  title="Bán hàng cùng Fitin"
                  class="link"
                >Bán hàng cùng Fitin</a>
              </li>
            </ul>
          </div>
          <div class="w-50 f-l-res mr-bt-20 col-md-3">
            <h4 class="txt-tranform">HỖ TRỢ KHÁCH HÀNG</h4>
            <ul class="block-item-ft">
              <li>
                <a
                  :href="URL_ECOM + '/page/huong-dan-dat-hang/'"
                  title="Hướng dẫn đặt hàng"
                  class="link"
                >Hướng dẫn đặt hàng</a>
              </li>
              <li>
                <a
                  :href="URL_ECOM + '/page/huong-dan-trai-nghiem-homestyler-&amp;-ar/'"
                  title="Hướng dẫn trải nghiệm Home Styler &amp; AR"
                  class="link"
                >Hướng dẫn trải nghiệm Home Styler &amp; AR</a>
              </li>
              <li>
                <a
                  :href="URL_ECOM + '/page/quy-trinh-giao-hang-&amp;-thanh-toan/'"
                  title="Quy trình giao hàng &amp; thanh toán"
                  class="link"
                >Quy trình giao hàng &amp; thanh toán</a>
              </li>
              <li>
                <a
                  :href="URL_ECOM + '/page/quy-trinh-doi-tra-&amp;-bao-hanh/'"
                  title="Quy trình đổi trả &amp; bảo hành"
                  class="link"
                >Quy trình đổi trả &amp; bảo hành</a>
              </li>
              <li>
                <a
                  :href="URL_ECOM + '/page/chinh-sach-giai-quyet-khieu-nai/'"
                  title="Chính sách giải quyết khiếu nại"
                  class="link"
                >Chính sách giải quyết khiếu nại</a>
              </li>
            </ul>
          </div>
          <div class="w-50 f-l-res mr-bt-20 col-md-3">
            <h4 class="txt-tranform">KẾT NỐI VỚI CHÚNG TÔI</h4>
            <ul class="block-item-ft fsocial">
              <li>
                <a
                  href="https://www.facebook.com/fitin.vn"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <img
                    src="https://cdn.fitin.vn/cms-ecom/images/2019/10/23/facebok-at-3x-1571815923.png"
                    alt="facebook"
                  />
                </a>
              </li>
              <li>
                <a
                  href="https://www.instagram.com/fitin.vn/"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <img
                    src="https://cdn.fitin.vn/cms-ecom/images/2019/10/23/instagram-at-3x-1571815927.png"
                    alt="instagram"
                  />
                </a>
              </li>
            </ul>
            <h4 class="mr-t-20 txt-tranform">TẢI ỨNG DỤNG FITIN</h4>
            <div class="block-item-ft fapp-store mb-2">
              <li>
                <a
                  href="https://apps.apple.com/us/app/fitin/id1481808371?ls=1https://apps.apple.com/us/app/fitin/id1481808371?ls=1"
                  rel="noopener noreferrer"
                  target="_blank"
                >
                  <img src="~/assets/images/footer/app-ios.jpg" alt />
                </a>
              </li>
              <li>
                <a target="_blank">
                  <img src="~/assets/images/footer/code.png" alt class="code-img" />
                </a>
              </li>
            </div>
            <h4 class="txt-tranform">PHƯƠNG THỨC THANH TOÁN</h4>
            <ul class="block-item-ft fpayment">
              <li>
                <img
                  src="https://cdn.fitin.vn/cms-ecom/images/2019/10/23/visa-electron-at-3x-1571815931.png"
                  alt="visa"
                />
              </li>
              <li>
                <img
                  src="https://cdn.fitin.vn/cms-ecom/images/2019/10/23/mastercard-at-3x-1571815935.png"
                  alt="master"
                />
              </li>
              <li>
                <img
                  src="https://cdn.fitin.vn/cms-ecom/images/2019/10/23/group-7-at-3x-1571815939.png"
                  alt="cash"
                />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copy-right">
      <div class="container">
        <div class="dp-flex-w-sbt align-i-center">
          <div class="text">
            <p>© 2019 - Bản quyền của Công Ty Cổ Phần Công nghệ Fitin</p>
            <span>Giấy chứng nhận Đăng ký Kinh doanh số 0309532909 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp ngày 06/01/2010</span>
          </div>
          <div class="dadangky">
            <a
              rel="noopener noreferrer"
              href="http://online.gov.vn/WebsiteDisplay.aspx?DocId=59126"
              target="_blank"
            >
              <img src="~/assets/images/dadangky.png" alt="Image" class="img-responsive" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { URL_ECOM } from "@/config";
export default {
  data() {
    return {
      URL_ECOM
    };
  }
};
</script>
<style lang="scss">
.footer {
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #070404;
  clear: both;
  background: #fff;
  h4 {
    font-family: ProximaNova;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #070404;
    margin-bottom: 12px;
    text-transform: uppercase;
  }

  .logo-ft {
    display: block;
    margin-top: 30px;

    img {
      max-width: 100px;
    }

    &.desktop-view {
      display: block;
    }
    &.mobile-view {
      display: none;
    }
  }
}

.footer-top {
  padding: 30px 15px;
}

.block-item-ft {
  padding-left: 15px;

  a {
    display: block;
    margin: 0 0 10px;
  }

  &.fsocial {
    padding-left: 0;

    li {
      display: inline-block;
    }

    a {
      margin-right: 15px;
      display: inline-block;
    }

    img {
      width: 25px;
    }
  }

  &.fapp-store {
    padding-left: 0;
    li {
      list-style-type: none;
      display: inline-block;
      margin-right: 15px;
      width: 70px;
      img {
        max-width: 100%;
      }
    }
  }

  &.fpayment {
    padding-left: 0;

    li {
      display: inline-block;
    }

    img {
      height: 25px;
      width: auto;
    }
  }
}

.copy-right {
  background-color: #f5f5f5;
  padding: 16px 0;

  img {
    max-width: 157px;
  }
}

.dp-flex-w-sbt {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.align-i-center {
  align-items: center;
}

.line-t {
  border-top: 1px solid rgba(8, 21, 38, 0.15);
}

@media (min-width: 768px) and (max-width: 992px) {
  .block-item-ft.fapp-store li {
    width: 50px;
  }
}
@media screen and (max-width: 767px){
  .footer{
    .logo-ft{
      &.desktop-view{
        display: none;
      }
      &.mobile-view{
        display: block;
      }
    }
    .footer-top{
      .w-50{
        width: 100%!important;
      }
    }
  }
}
</style>
