<template>
    <div class="header-wp fixed-top bg-white">
      <div class="container">
        <b-navbar toggleable="md" class="fitin-navbar">
            <b-navbar-brand :href="URL_ECOM">
              <img src="~/assets/images/logo.png" />
            </b-navbar-brand>
            <b-navbar-brand class="d-none btn menu-home ml-sm-3" :href="URL_ECOM">
              Trang chủ
            </b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
            <!-- <b-nav-item href="/#tu-van-thiet-ke">Tư vấn thiết kế</b-nav-item> -->
            <!-- <b-nav-item href="/#thong-tin-du-an">Thông tin dự án</b-nav-item> -->
            <!-- <b-nav-item href="http://hadocentrosagarden.vn/" rel="noopener noreferrer" target="_blank">Thông tin dự án</b-nav-item>
            <b-nav-item :href="URL_ECOM + '/articles'" target="_blank">Blog</b-nav-item> -->
            <b-nav-item class="nav-phone" href="tel:19003008">
              <!-- <i class="icofit fit-chair"></i>  -->
              <img src="~/assets/images/phone-24.png" class="img-phone"/>
              <span>19003008</span>
            </b-nav-item>
            </b-navbar-nav>
            </b-collapse>
        </b-navbar>
      </div>
    </div>
</template>
<script>
import { URL_ECOM, UrlBase } from "@/config";
export default {
  data() {
    return {
      URL_ECOM,
      UrlBase
    }
  }
}
</script>
<style lang="scss">
.header-wp {
  box-shadow:0 2px 4px 0 rgba(0,0,0,.1);
  .menu-home {
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #ebce54, #d3a02a);
    font-family: ProximaNova;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    color: #ffffff;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none;
    text-transform: uppercase;
    border: none;
    &:hover, &:visited, &:active {
      color: #ffffff;
    }
  }
  .navbar.fitin-navbar {
    padding: 5px 0;
    // box-shadow:0 2px 4px 0 rgba(0,0,0,.1);
    .navbar-brand img {
      max-width: 100px;
      display:inline-block;
    }

    .navbar-nav li {
      a {
        text-transform: uppercase;
        color: #5c4621;
        padding: 8px 15px;
        font-weight: 600;
      }

      &.active {
        background: #d3a02a;
        font-weight: bold;
        border-radius: 4px;

        a {
          color: #fff;
        }
      }

      &.nav-phone{
        a {
          color: #ea1515;
          font-style: italic;
          font-weight: 600;
          .img-phone{
            height:15px;
            margin-right:5px;
            display:inline-block;
            vertical-align: text-top;
          }
          span{
            font-size:15px;
          }
        }
      }
    }
  }
  .navbar-toggler {
    border-color: transparent;
    padding: 0;

    &:hover, &:focus, &:active {
      outline: none;
    }

    .navbar-toggler-icon {
      width: 32px;
      height: 32px;
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .header-wp .navbar.fitin-navbar .navbar-nav li a {
    padding: 5px;
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .header-wp .navbar.fitin-navbar .navbar-nav li a {
    padding-left: 0;
    padding-right: 0;
  }
}
</style>