<!DOCTYPE html>
<html lang="vi-VN">

<head>
    <meta charset="utf-8"/>
    <base href="{{ base_url }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="theme-color" content="#000000">
    <meta name="robots" content="INDEX,FOLLOW"/>
    <meta name="revisit-after" content="1 days"/>
    <link rel="shortcut icon" href="favicon.ico">

    {% include 'components/partials/meta.twig' %}

    {% include 'template_1/partials/style.twig' %}

    <!-- Google Tag Manager -->
    <script>
        var GTM_ID = "{{ config.gtm_id }}";
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', GTM_ID);
    </script>
    <!-- End Google Tag Manager -->

</head>

<body>
<div id="app_fitin">
    <div id="wrapper">
        <div class="layout">
            <div class="header-wrapper">
                {% include 'components/partials/header.twig' %}

            </div>

            <div class="content">
                {% block content %}
                {% endblock %}
            </div>

            {% include 'components/partials/footer.twig' %}
        </div>
    </div>
</div>

{% include 'template_1/partials/js.twig' %}

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id={{ config.gtm_id }}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/{{ config.hubspot_id }}.js"></script>
<!-- End of HubSpot Embed Code -->
<script type="text/javascript">
    function onConversationsAPIReady() {
        console.log(`HubSpot Conversations API: ${window.HubSpotConversations}`, window.HubSpotConversations);
    }

    /*
     If external API methods are already available, use them.
    */
    if (window.HubSpotConversations) {
        onConversationsAPIReady();
    } else {
        /*
          Otherwise, callbacks can be added to the hsConversationsOnReady on the window object.
          These callbacks will be called once the external API has been initialized.
        */
        window.hsConversationsOnReady = [onConversationsAPIReady];
    }
</script>
</body>

</html>
