<title>{{page.title}}</title>
<meta name="description" content="{{page.description}}">
<meta name="keywords" content="{{page.keywords}}">
<meta name="robots" content="index,follow">
<meta name="revisit-after" content="1 days">
<meta property="og:fb:app_id" content="{{config.facebook_id}}" />
<meta property="og:title" content="{{page.title}}" />
<meta property="og:description" content="{{page.description}}" />
<meta property="og:site_name" content="Fitin" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="vi_VN" />
<meta property="og:locale:alternate" content="vi_VN" />

<meta property="og:url" content="{{base_url}}" />
<meta property="og:image" content="{{page.image}}" />
