{% extends 'template_1/layouts/default.twig' %}

{% block content %}
    <div class="project-layouts-list-wrapper">
        <div class="breadcrumbs container">
            <a href="/" class="nuxt-link-active">
                <span class="back"><span class="icon icon-back"></span> Quay lại</span>
            </a>
            <span class="breadcrumb-item">
                <a href="/" class="nuxt-link-active">Trang chủ</a>
            </span>
            <span class="breadcrumb-item">Căn hộ {{ content.roomNumber }} phòng ngủ</span>
        </div>

        <div class="project-layout-container">
            <div class="title">CÁC MẪU THIẾT KẾ CHO CĂN HỘ {{ content.roomNumber }} PHÒNG NGỦ</div>
            <div class="container">
                <div class="layout-list">
                    {% if content.layoutByRoomNumber is not empty and content.layoutByRoomNumber | length > 0 %}
                        {% for type in content.layoutByRoomNumber %}
                            <div class="layout-item-wrapper">
                                <div class="layout-item">
                                    <a href="/chi-tiet/{{ type['slug'] }}-{{ type['layout_id'] }}">
                                        <div class="project-img">
                                            <div class="project-price d-none">{{ type['price'] | number_format }}VND
                                            </div>
                                            <img src="{{ type['image_url'] }}" alt="{{ type['name'] }}"
                                                 class="img-responsive">
                                        </div>
                                        <div class="project-content">
                                            <h3>{{ type['name'] }}</h3>
                                            <p></p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <hr>
            </div>
            <div class="other-design">
                <div class="title">CÁC MẪU THIẾT KẾ KHÁC</div>
                <div class="apartment-types container">
                    {% if content.bed_room_num_1 is not empty and content.bed_room_num_1 | length > 0 and content.roomNumber != 1 %}
                        <div class="apartment-type">
                            <a href="/thiet-ke/can-ho-1-phong-ngu">
                                <div class="apartment-type-wrapper">
                                    <div class="image-wrapper">
                                        <img src="static/template_1/images/room-1-bedroom.jpg" alt="" srcset="">
                                    </div>
                                    <div class="name">Căn hộ 1 Phòng ngủ</div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                    {% if content.bed_room_num_2 is not empty and content.bed_room_num_2 | length > 0 and content.roomNumber != 2 %}
                        <div class="apartment-type">
                            <a href="/thiet-ke/can-ho-2-phong-ngu">
                                <div class="apartment-type-wrapper">
                                    <div class="image-wrapper">
                                        <img src="static/template_1/images/room-2-bedroom.jpg" alt="" srcset="">
                                    </div>
                                    <div class="name">Căn hộ 2 Phòng ngủ</div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                    {% if content.bed_room_num_3 is not empty and content.bed_room_num_3 | length > 0 and content.roomNumber != 3 %}
                        <div class="apartment-type">
                            <a href="/thiet-ke/can-ho-3-phong-ngu">
                                <div class="apartment-type-wrapper">
                                    <div class="image-wrapper">
                                        <img src="static/template_1/images/room-3-bedroom.jpg" alt="" srcset="">
                                    </div>
                                    <div class="name">Căn hộ 3 Phòng ngủ</div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <section id="tu-van" class="form-support">
                <script>window.ApiSubmitHubspot = '{{ config.quotation_url }}/api/v1/hubspot/form/quick/submit'</script>
                <form action="">
                    <div class="form">
                        <input type="hidden" name="project" value="{{ content.project_name }}">
                        <input type="hidden" name="tower" value="{{ content.project_name }}">
                        <div class="form-title">BẠN ĐÃ SẴN SÀNG CHO CĂN HỘ TRONG MƠ</div>
                        <!---->
                        <div class="form-field">
                            <label for="supports">Bạn cần Fitin</label>
                            <select id="supports" class="custom-select">
                                <option value="Tư vấn cải tạo căn hộ">Tư vấn cải tạo căn hộ</option>
                                <option value="Tư vấn nội thất phù hợp với nhu cầu">Tư vấn nội thất phù hợp với nhu
                                    cầu
                                </option>
                                <option value="Tư vấn thi công cải tạo phòng khách">Tư vấn thi công cải tạo phòng
                                    khách
                                </option>
                                <option value="Tư vấn thi công cải tạo phòng ngủ">Tư vấn thi công cải tạo phòng ngủ
                                </option>
                                <option value="Yêu cầu khác ..">Yêu cầu khác ..</option>
                            </select>
                        </div>
                        <span style="font-style:italic;font-size:12px">Vui lòng để lại thông tin, FITIN sẽ liên hệ bạn ngay</span>
                        <div class="form-field">
                            <label for="customer-name">Tên của bạn</label>
                            <input name="customer-name" required class="txt-name">
                        </div>
                        <div class="form-field">
                            <label for="phone">Số điện thoại của bạn</label>
                            <input name="phone" type="number" required class="txt-name">
                        </div>
                        <div class="form-field">
                            <label for="phone">Email của bạn</label>
                            <input name="email" type="email" required class="txt-name">
                        </div>
                        <div class="form-field">
                            <button type="submit" class="btn btn-fitin">GỬI YÊU CẦU</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>

    </div>
{% endblock %}