@import "variables";
@import "mixins";
body{
    font-family: $fitin-font-family, sans-serif !important;
    font-size: 14px;
    font-weight: 400;
    color: #070404;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

a, a:hover, a:visited, a:link, * a:hover, * a:visited, * a:link {
  color: #070404;
    text-decoration: none;
    outline: none;
}
a{
    &:hover{
        color: #070404;
    }
}
h1,h2,h3,h4,h5,h6{
    font-family: "ProximaNova", sans-serif !important;
    font-weight:bold;
}

.fsection {
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
}

.bg-color-white{
    background:#fff !important;
}
.bg-color-gray{
    background:#f5f5f5 !important;
}

.scroll-item{
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    margin-left:-5px;
    margin-right:-5px;
    white-space: nowrap;
    overflow-x: auto;
    display: block;
    .item {
      display: inline-block;
      width: 135px;
      vertical-align: top;
      // position: relative;
      // z-index: 1;
      padding-left:7.5px;
      padding-right:7.5px;
      &.small {
        width: 80px;
      }
    }
}

/** BUTTON FITIN  **/
.btn,
.fitin-btn{
    height: 40px;
    padding: 8px 15px;
    text-align:center;
    text-transform: capitalize;
    outline: none;
    border-radius: 0;
    white-space: nowrap;
    vertical-align: middle;
    transition: all 0.5s ease;
    font-size: 14px;
    line-height: 18px;
    &:hover{
        outline: none;
        transition: all 0.5s ease;
    }
    /* BUTTON DISABLE */
    &.disabled,&:disabled, &[disabled], &:disabled:hover, &[disabled]:hover{
        color:#fff;
        background-color: #c3c3c3;
        border:1px solid #c3c3c3;
        cursor: default;
        pointer-events:none;
    }
}
a:not([href]){
    &.fitin-btn.fitin-primary-btn{
        color:#fff;
    }
}
.btn-primary,
.fitin-primary-btn{
    background: #070404;
    border: 1px solid #070404;
    color:#fff;
    &:hover{
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27);
        border: solid 1px #4a4a4a;
        background-color: #4a4a4a;
        color: #fff;
    }
}

.btn-second,
.fitin-second-btn{
    border: solid 1px #070404;
    background-color: transparent;
    color:#000;
    &:hover{
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27);
        background-color: #070404;
        border: 1px solid #070404;
        color: #fff;
    }
    &:disabled, &[disabled], &:disabled:hover, &[disabled]:hover{
        color: rgba(7, 4, 4, 0.4);
        background-color: transparent;
        border: solid 1px rgba(7, 4, 4, 0.4);
        cursor: default;
        pointer-events:none;
    }
}

/* BUTTON ICON */
.fitin-ico-btn {
    text-transform: uppercase;
    border-radius: 0;
    .icofit, span {
      vertical-align: middle;
    }

    .icofit {
      font-size: 18px;
      line-height: 19px;
    }
}
/** TXT TRUNCATE  **/
.text-truncate {
    // height: 31px;
     // -webkit-line-clamp: 2;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    display: -webkit-box;

    &.1line{
        height: 31px;
        font-size: 14px;
        -webkit-line-clamp: 1;
    }
    &.2line{
        height: 45px;
        font-size: 14px;
        -webkit-line-clamp: 2;
        -moz-line-clamp: 2;
        -ms-line-clamp: 2;
        line-clamp: 2;
    }
}
.txt-ellipsis {
  overflow: hidden;
  &:before {
    content: "";
    float: left;
    width: 5px;
    height: 100px;
  }

  > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
  }

  &:after {
    content: "\02026";
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    float: right;
    position: relative;
    top: -25px;
    left: 100%;
    width: 3em;
    margin-left: -3em;
    padding-right: 5px;
    text-align: right;
    background-size: 100% 100%;
    /* 512x1 image,gradient for IE9. Transparent at 0% -> white at 50% -> white at 100%.*/
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
  }
}
/** MENU FIXED  **/
.menu-fixed-bt{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 5px 7px 3px rgba(0, 0, 0, 0.3);
    &.top{
        bottom:auto;
        top:0;
    }
}
.space-line{
    height: 5px;
    background-color: #f5f5f5;
    width: 100%;
}

/** LOADING WARE **/
#loading-wave {
	position: relative;
  margin-top: 3vh;
  margin-bottom: 3vh;
  text-align: center;
  // width: 100px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
	.dot {
		display:inline-block;
		width:10px;
		height:10px;
		border-radius:50%;
    // background:#303131;
    background:#0070c0;
		animation: wave 1.3s linear infinite;
    &.dot-md {
      background:#0070c0;
    }
		&:nth-child(2) {
			animation-delay: -1.1s;
		}

		&:nth-child(3) {
			animation-delay: -0.9s;
    }
    
    &:nth-child(4) {
			animation-delay: -0.6s;
		}
	}
}

@keyframes wave {
	0%, 60%, 100% {
		transform: initial;
	}

	30% {
		transform: translateY(-15px);
  }
  100% {
		opacity: 0;
	}
}

/** LOADING 2**/
.spin-wrapper{
  position: relative;
  width: 100%;
  height: 100px;
  #loading-wave{
    position: absolute;
    top: 5%;
    left: 45%;
    &.top-50{
      top: 45%;
    }
  }

  .spinner{
    position: absolute;
    height: 60px;
    width: 60px;
    border: 3px solid transparent;
    border-top-color: #1f010b;
    top: 35%;
    left: 50%;
    margin: -30px;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    &:before, &:after{
      content:'';
      position: absolute;
      border: 3px solid transparent;
      border-radius: 50%;
    }
    
    &:before{
      border-top-color: #017dd6;
      top: -12px;
      left: -12px;
      right: -12px;
      bottom: -12px;
      animation: spin 2s linear infinite;
    }
    
    &:after{
      border-top-color: #FF5722;
      top: 6px;
      left: 6px;
      right: 6px;
      bottom: 6px;  
      animation: spin 3s linear infinite;
    }
  }
}

@keyframes spin{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

/** STATUS COLOR  **/
.statut-txt {
    font-weight: bold;
    font-family: "ProximaNova", sans-serif;
    &.yellow {
      color: #ffc000;
    }

    &.green {
      color: #70ad47;
    }

    &.gray {
      color: #d9d9d9;
    }

    &.red {
      color: #ff2905;
    }

    &.blue{
      color:#0070c0;
    }

    &.orange{
      color:#f05123;
    }
    
    &.black{
      color: #0d0d0d;
    }
}
.fit-line-bt {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  &:after {
      content: '';
      background-color: #f5f5f5;
      height: 7px;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
}