@import "variables";
/* Add fontface */
@font-face {
    font-family: '#{$fitin-font-family}';
    src: url("#{$fitin-font-path}/ProximaNova-Regular.eot");
    src: url("#{$fitin-font-path}/ProximaNova-Regular.woff2") format("woff2"), 
    url("#{$fitin-font-path}/ProximaNova-Regular.woff") format("woff"), 
    url("#{$fitin-font-path}/ProximaNova-Regular.ttf") format("truetype"), 
    url("#{$fitin-font-path}/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg"), 
    url("#{$fitin-font-path}/ProximaNova-Regular.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
 }
  
  @font-face {
    font-family: '#{$fitin-font-family}';
    src: url("#{$fitin-font-path}/ProximaNova-RegularIt.eot");
    src: url("#{$fitin-font-path}/ProximaNova-RegularIt.woff2") format("woff2"), 
    url("#{$fitin-font-path}/ProximaNova-RegularIt.woff") format("woff"), 
    url("#{$fitin-font-path}/ProximaNova-RegularIt.ttf") format("truetype"), 
    url("#{$fitin-font-path}/ProximaNova-RegularIt.svg#ProximaNova-RegularIt") format("svg"), 
    url("#{$fitin-font-path}/ProximaNova-RegularIt.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: italic;
    font-display: block; 
}
  
  @font-face {
    font-family: '#{$fitin-font-family}';
    src: url("#{$fitin-font-path}/ProximaNova-Semibold.eot");
    src: url("#{$fitin-font-path}/ProximaNova-Semibold.woff2") format("woff2"), 
    url("#{$fitin-font-path}/ProximaNova-Semibold.woff") format("woff"), 
    url("#{$fitin-font-path}/ProximaNova-Semibold.ttf") format("truetype"), 
    url("#{$fitin-font-path}/ProximaNova-Semibold.svg#ProximaNova-Semibold") format("svg"), 
    url("#{$fitin-font-path}/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype");
    font-weight: 600;
    font-style: normal;
    font-display: block; 
}
  
  @font-face {
    font-family: '#{$fitin-font-family}';
    src: url("#{$fitin-font-path}/ProximaNova-SemiboldIt.eot");
    src: url("#{$fitin-font-path}/ProximaNova-SemiboldIt.woff2") format("woff2"), 
    url("#{$fitin-font-path}/ProximaNova-SemiboldIt.woff") format("woff"), 
    url("#{$fitin-font-path}/ProximaNova-SemiboldIt.ttf") format("truetype"), 
    url("#{$fitin-font-path}/ProximaNova-SemiboldIt.svg#ProximaNova-SemiboldIt") format("svg"), 
    url("#{$fitin-font-path}/ProximaNova-SemiboldIt.eot?#iefix") format("embedded-opentype");
    font-weight: 600;
    font-style: italic;
    font-display: block; 
}
  
  @font-face {
    font-family: '#{$fitin-font-family}';
    src: url("#{$fitin-font-path}/ProximaNova-Bold.eot");
    src: url("#{$fitin-font-path}/ProximaNova-Bold.woff2") format("woff2"), 
    url("#{$fitin-font-path}/ProximaNova-Bold.woff") format("woff"), 
    url("#{$fitin-font-path}/ProximaNova-Bold.ttf") format("truetype"), 
    url("#{$fitin-font-path}/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg"), 
    url("#{$fitin-font-path}/ProximaNova-Bold.eot?#iefix") format("embedded-opentype");
    font-weight: bold;
    font-style: normal;
    font-display: block; 
}
  
  @font-face {
    font-family: '#{$fitin-font-family}';
    src: url("#{$fitin-font-path}/ProximaNova-BoldIt.eot");
    src: url("#{$fitin-font-path}/ProximaNova-BoldIt.woff2") format("woff2"), 
    url("#{$fitin-font-path}/ProximaNova-BoldIt.woff") format("woff"), 
    url("#{$fitin-font-path}/ProximaNova-BoldIt.ttf") format("truetype"), 
    url("#{$fitin-font-path}/ProximaNova-BoldIt.svg#ProximaNova-BoldIt") format("svg"), 
    url("#{$fitin-font-path}/ProximaNova-BoldIt.eot?#iefix") format("embedded-opentype");
    font-weight: bold;
    font-style: italic;
    font-display: block; 
}
  
  @font-face {
    font-family: '#{$fitin-font-family}-ThinIt';
    src: url('#{$fitin-font-path}/ProximaNova-ThinIt.eot');
    src: url('#{$fitin-font-path}/ProximaNova-ThinIt.woff2') format('woff2'),
         url('#{$fitin-font-path}/ProximaNova-ThinIt.woff') format('woff'),
         url('#{$fitin-font-path}/ProximaNova-ThinIt.ttf') format('truetype'),
         url('#{$fitin-font-path}/ProximaNova-ThinIt.svg#ProximaNova-ThinIt') format('svg'),
         url('#{$fitin-font-path}/ProximaNova-ThinIt.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* End add fontface */
  