.img-responsive {
  max-width: 100%;
}

.form-support {
  position: relative;
  width: 100%;
  background: url("../images/form-support-background.jpg") no-repeat;
  background-size: auto 50%;
  background-position-x: center;
  background-position-y: 0px;
  padding: 80px 0px;
  // max-width: 80%;
  margin: auto;

  .form {
    max-width: 500px;
    margin: auto;
    width: 70%;
  }
}

.banner-footer-content {
  display: flex;
  font-size: 1rem;
  margin-bottom: 100px;

  img {
    width: 66%;
  }

  .content-right {
    width: 40%;
    text-align: center;
    background-color: #acc6da;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    hr {
      width: 100px;
      background: #ffffff;
    }

    .top {
      .title {
        font-family: ProximaNova;
        font-size: 1.71em;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #244666;
      }

      .description {
        font-family: ProximaNova;
        font-size: 1em;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: center;
        color: #244666;
      }
    }

    .bottom {
      .quote {
        font-family: NewYorkLarge;
        font-size: 1em;
        font-weight: normal;
        font-stretch: normal;
        font-style: italic;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
      }

      .author {
        font-family: NewYorkLarge;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
      }
    }
  }
}

.title-wp {
  .more {
    text-transform: uppercase;
    font-size: 14px;

    i {
      display: inline-block;
      transform: rotate(-90deg);
      font-size: 12px;
      margin-left: 5px;
    }
  }
}

h2.title {
  font-size: 20px;
  text-transform: uppercase;
}

.service-wp {
  text-align: center;
  padding: 30px 15px;

  .service-block-top {
    width: 160px;
    height: 160px;
    box-shadow: inset 0 -1px 10px 0 rgba(173, 142, 59, 0.71);
    border-style: solid;
    border-width: 1px;

    /* border-image-source: linear-gradient(to bottom, #ebce54, #d3a02a);*/
    border-image-source: linear-gradient(to bottom, transparent, transparent);
    border-image-slice: 1;
    border-radius: 50%;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 20px auto;
    padding: 15px;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    .block-inner {
      /*background: linear-gradient(to right, #ebce54,#d3a02a);*/
      height: 100%;
      border-radius: 50%;
      background-image: linear-gradient(to bottom, #ebce54, #d3a02a);

      i {
        font-size: 40px;
        color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        margin-top: -24px;
      }

      img {
        position: absolute;
        left: 0;
        right: 0;
        top: 35%;
        text-align: center;
        display: inline-block;
        width: 100%;
        margin: auto;

        &.icon-telephone {
          max-width: 40px;
        }

        &.icon-dollar {
          max-width: 43px;
        }

        &.icon-bill {
          max-width: 30px;
        }
      }
    }
  }

  .service-block-bt {
    p {
      font-weight: 600;
      max-width: 80%;
      font-size: 16px;
      margin: auto;
    }
  }
}

.project-wp {
  padding: 40px 0;

  .title-wp {
    padding-bottom: 20px;
  }
}

.project-item {
  transition: box-shadow 0.3s;
  margin-bottom: 20px;

  &:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
    transition: box-shadow 0.3s;

    img {
      transform: scale(1.05, 1.05);
    }
  }

  img {
    transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -webkit-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    min-height: 230px;
    object-fit: cover;
    width: 100%;
  }

  .project-img {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 230px;
    // background: url('http://placehold.it/350x269');
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all 0.5s ease;

    .project-price {
      background: rgba(0, 0, 0, 0.55);
      position: absolute;
      top: 0;
      right: 0;
      color: #fff;
      z-index: 1;
      padding: 5px 15px;
    }
  }

  .project-content {
    padding: 15px;

    h3 {
      font-size: 20px;
    }

    p {
      margin-bottom: 0;
      display: block;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: justify;
    }
  }
}

.steps-slider {
  max-width: 920px;
  width: 100%;
  margin: 0 auto;

  .carousel-caption {
    position: relative;
    left: 0;
    bottom: 0;
    padding: 0;
  }

  .slider-item-info {
    background-color: #d6a630;
    padding: 15px;
    height: 80px;

    font-family: ProximaNova;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;

    p {
      margin: 0;

      &.desc {
        font-weight: bold;
        display: none;
      }
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
      height: 100px;
      font-size: 16px;

      p {
        &.desc {
          display: block;
        }
      }
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    border-radius: 50%;
    top: 50%;
    margin-top: -25px;

    @media screen and (max-width: 767px) {
      width: 30px;
      height: 30px;
      margin-top: -15px;
    }
  }

  .carousel-control-next {
    right: -25px;

    .carousel-control-next-icon {
      background-image: url("../images/back.png");
      transform: rotateZ(180deg);
    }

    @media screen and (max-width: 767px) {
      right: 4px;

      .carousel-control-next-icon {
        background-size: 70%;
        background-position: center;
      }
    }
  }

  .carousel-control-prev {
    left: -25px;

    .carousel-control-prev-icon {
      background-image: url("../images/back.png");
    }

    @media screen and (max-width: 767px) {
      left: 4px;

      .carousel-control-prev-icon {
        background-size: 70%;
        background-position: center;
      }
    }
  }
}

/* SLIDER  OLD*/
.slider-custom.slick-slider {
  padding: 40px 0 10px;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  .item {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    img {
      width: 100%;
    }

    .slider-content {
      position: absolute;
      left: 0;
      right: auto;
      bottom: 0;
      padding: 15px;
      background: rgba(0, 0, 0, 0.3);

      p {
        margin-bottom: 0;
        font-weight: bold;
        font-size: 22px;
        text-transform: uppercase;
        color: #fff;

        &.color-yellow {
          color: #d3a02a;
        }
      }
    }
  }

  .slick-dots {
    &.custom-dot-class {
      bottom: 0px;
      right: 0;
      text-align: right;
      margin-bottom: 50px;
      margin-right: 30px;

      li {
        &.slick-active button:before {
          color: #fff;
          border-radius: 50%;
          background: #fff;
          text-shadow: 0 2px 2px #000;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
        }

        button:before {
          content: "";
          font-size: 14px;
          opacity: 1;
          border: 2px solid #fff;
          border-radius: 50%;
          width: 18px;
          height: 18px;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  &.slider-two {
    max-width: 85%;
    margin: auto;

    .item {
      padding-right: 10px;
      padding-left: 10px;

      .slider-content {
        margin-left: 15px;
      }

      .slider-content-bt {
        padding: 15px;
        text-align: center;
        font-size: 16px;
      }
    }
  }

  .slick-arrow {
    width: 30px;
    height: 130px;
    box-shadow: 1px 0 4px 0 rgba(141, 141, 141, 0.5);
    transform: rotate(0deg);
    margin-top: -50px;

    &:hover {
      box-shadow: 1px 0 4px 0 rgba(141, 141, 141, 0.7);
    }

    &:before {
      color: #000;
      font-family: "Font-fitin" !important;
    }

    &.slick-next {
      right: -45px;

      &:before {
        transform: rotate(-90deg);
        content: "\e916";
        display: inline-block;
      }
    }

    &.slick-prev {
      left: -45px;

      &:before {
        transform: rotate(90deg);
        content: "\e916";
        display: inline-block;
      }
    }
  }
}

/** SLIDER MAIN NEW **/
.slider-main-content {
  // height: 624px;
  position: relative;

  @media screen and (max-width: 767px) {
    height: unset;
  }

  .block-info {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: rgba(0, 0, 0, 0.3);

    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-family: ProximaNova;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

    @media screen and (max-width: 767px) {
      font-size: 14px;
      padding-top: 15px;
      padding-bottom: 15px;
      position: relative;
      text-shadow: none;
      color: #000;
      background: transparent;
    }

    .title {
      // text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      font-size: 40px;
      font-weight: bold;
      line-height: 1.5;

      // color: #ffffff;
      @media screen and (max-width: 767px) {
        font-size: 20px;
      }
    }

    .yellow {
      color: #e2bc44;
    }

    .sub-title {
      font-size: 36px;
      line-height: 1.67;
      // color: #ffffff;
      padding-bottom: 36px;

      @media screen and (max-width: 767px) {
        font-size: 18px;
        padding-bottom: 12px;
      }
    }

    .ttc {
      font-style: italic;
      max-width: 100%;
      padding: 0 20px;
      margin: 0 auto;
      cursor: pointer;
    }
  }
}

/** RESPONSIVE **/
@media (min-width: 768px) {
  .project-customer-wp {
    padding-top: 30px;
  }
}

@media (min-width: 580px) {
  .title-wp {
    .title {
      text-align: center;
    }

    .more {
      text-align: right;
      display: block;
    }
  }
}

@media (min-width: 460px) and (max-width: 580px) {
  .service-wp [class*="col-sm-6"] {
    width: 50%;
  }
}

@media (max-width: 992px) {
  .slider-custom.slick-slider {
    .item .slider-content p {
      font-size: 18px;
    }

    .slick-dots.custom-dot-class {
      margin-right: 15px;
    }
  }
}

@media (max-width: 767px) {
  .slider-wp {}

  .banner-footer-content {
    margin-bottom: 30px;
    flex-direction: column;

    img {
      width: 100%;
    }

    .content-right {
      width: 100%;
      padding: 30px 15px;

      .top {
        .title {}

        .description {}
      }

      .bottom {
        .quote {}

        .author {}
      }
    }
  }

  .form-support {
    .form {
      margin: auto;
      width: 90%;
    }
  }
}

@media (max-width: 580px) {
  h2.title {
    font-size: 18px;
  }

  .title-wp {
    .title {
      text-align: left;
    }
  }

  .project-item .project-content {
    padding: 15px 0;
  }
}

@media (max-width: 480px) {
  .banner-footer-content {
    flex-direction: column;

    img {
      width: 100%;
    }

    .content-right {
      width: 100%;
      padding: 30px 15px;

      .top {
        .title {}

        .description {}
      }

      .bottom {
        .quote {}

        .author {}
      }
    }
  }

  .form-support {
    width: 100%;
    max-width: 100%;

    .form {
      margin: auto;
      width: 90%;
    }
  }
}

.homepage-wrapper {
  .title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    // height: 2.6rem;
    line-height: 2.8rem;
    margin-bottom: 30px;
  }

  .banner-video-wrapper {
    position: relative;
    width: 100%;
    height: 0px;
    padding-top: 32.34%;
    @media screen and (max-width: 767px){
      padding-top: 56.25%;
    }
    #banner-video,
    .img-cover {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
    }

    .img-cover {
      img {
        height: 100%;
        width: auto;
        max-width: 100%;
        object-fit: cover;
      }
    }

    .gif-banner {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  section {
    padding-top: 70px;
  }

  .steps-block {
    .steps {
      display: flex;
      margin-bottom: 24px;

      .step {
        width: 25%;
        padding: 0px 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        z-index: 2;
        opacity: 0.5;

        &.active {
          opacity: 1;
        }

        &::before {
          content: "";
          width: 100%;
          border-top: solid 1px #d3a02a;
          top: 38px;
          position: absolute;
          z-index: 0;
        }

        &:first-child {
          &::before {
            width: 50%;
            left: 50%;
          }
        }

        &:last-child {
          &::before {
            width: 50%;
            right: 50%;
          }
        }

        .num-wrapper {
          width: 76px;
          height: 76px;
          box-shadow: inset 0 -1px 5px 0 rgba(173, 142, 59, 0.71);
          border-style: solid;
          border-width: 0px;
          border-image-source: linear-gradient(to bottom, #ebce54, #d3a02a);
          border-image-slice: 1;
          background-color: #ffffff;
          display: block;
          border-radius: 50%;
          padding: 7px;
          position: relative;
          z-index: 1;

          .num {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
            text-align: center;
            line-height: 60px;
            position: relative;
            background: linear-gradient(to bottom, #ebce54, #d3a02a);
            display: block;
            font-family: ProximaNova;
            font-size: 30px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
            margin: 1px auto;

            &:hover {
              cursor: pointer;
            }
          }
        }

        .desc {
          margin-top: 12px;

          font-family: ProximaNova;
          font-size: 16px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.88;
          letter-spacing: normal;
          text-align: center;
          color: #070404;
        }
      }
    }
  }

  .apartment-types-block {
    .title {
      margin-bottom: 0px;
    }

    hr {
      width: 30%;
      margin: 10px auto;
      border-top: solid 1px #d6a630;
    }

    .apartment-types {
      display: flex;
      flex-direction: column;

      .apartment-type {
        // margin-bottom: 40px;

        .title {
          font-weight: normal;
          font-size: 1.6rem;
          margin-bottom: 10px;
        }

        .apartment-style-slider-wrapper {
          // margin-top: 120px;

          .apartment-style-slider {
            position: relative;

            .owl-carousel {
              .owl-nav {
                margin: 0px;

                button {
                  position: absolute;
                  width: 50px;
                  height: 50px;
                  background-color: rgba(255, 255, 255, .5);
                  border-radius: 50%;
                  top: 50%;
                  margin-top: -25px;
                  background-image: url(~assets/images/back.png);
                  background-size: 20px 20px;
                  background-repeat: no-repeat;
                  background-position: center;
                  outline: none;

                  span {
                    display: none !important;
                  }

                  &.owl-prev {
                    left: -25px;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
                  }

                  &.owl-next {
                    right: -25px;
                    transform: rotateZ(180deg);
                    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.3);
                  }
                }
              }
            }

            a {
              display: block;
              padding: 4px;
            }
            .apartment-style-item {
              width: 100%;
              height: 100%;
              border: solid 1px #e3e3e3;
              background-color: #ffffff;
              transition: all 0.3s ease-in-out;
              font-size: 16px;

              &:hover {
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27);
                cursor: pointer;

                img {
                  transform: scale(1.1);
                }
              }

              .image-wrapper {
                width: 100%;
                height: 0px;
                padding-top: 76.86%;
                position: relative;
                overflow: hidden;

                img {
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                  transition: all .3s ease-in-out;
                }

                .price {
                  background: rgba(0, 0, 0, 0.55);
                  position: absolute;
                  top: 0px;
                  right: 0px;
                  font-size: 1.3em;
                  font-weight: normal;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: normal;
                  letter-spacing: normal;
                  text-align: center;
                  color: #ffffff;
                  padding: 8px;
                }
              }

              .desc {
                padding: 10px;

                .row {
                  margin: 0;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  .label {
                    font-family: ProximaNova;
                    font-size: 1em;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.5;
                    letter-spacing: normal;
                    color: #7a7c80;
                  }

                  .value {
                    font-size: 1em;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.5;
                    letter-spacing: normal;
                    text-align: right;
                    color: #070404;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .fitin-services-block {
    margin-top: 100px;
    padding: 80px 0px;
    background: url("../images/services-bg@2x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .title {
      color: #ffffff;
      margin-bottom: 30px;
    }

    .fitin-services {
      display: flex;
      justify-content: center;

      .fitin-service {
        box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.5);
        background-color: #ffffff;
        width: 20%;
        margin-right: 30px;
        padding: 14px;
        text-align: center;

        &:last-child {
          margin-right: 0px;
        }

        .service-block-top {
          width: 90px;
          height: 90px;
          box-shadow: inset 0 -1px 10px 0 rgba(173, 142, 59, 0.71);
          border-style: solid;
          border-width: 1px;
          border-image-source: linear-gradient(to bottom,
              transparent,
              transparent);
          border-image-slice: 1;
          border-radius: 50%;
          position: relative;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: 20px auto;
          padding: 9px;

          &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
          }

          .block-inner {
            /*background: linear-gradient(to right, #ebce54,#d3a02a);*/
            height: 100%;
            border-radius: 50%;
            background-image: linear-gradient(to bottom, #ebce54, #d3a02a);

            i {
              font-size: 40px;
              color: #fff;
              position: absolute;
              left: 0;
              right: 0;
              top: 50%;
              margin-top: -24px;
            }

            img {
              position: absolute;
              left: 0;
              right: 0;
              top: 50%;
              text-align: center;
              display: inline-block;
              width: 32px;
              margin: auto;
              transform: translateY(-50%);

              // &.icon-telephone {
              //     max-width: 40px;
              // }

              // &.icon-dollar {
              //     max-width: 43px;
              // }

              &.icon-bill {
                max-width: 28px;
              }

              // &.coach-icon{
              //     height: 45px;
              //     width: auto;
              // }
            }
          }
        }

        .service-block-bt {
          .highlight {
            font-family: ProximaNova;
            font-size: 1rem;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.67;
            letter-spacing: normal;
            text-align: center;
            color: #070404;
          }

          hr {
            height: 0px;
            border: solid 1px #d9ab34;
            margin: 8px auto;
            width: 30%;
          }

          .desc {
            font-family: ProximaNova;
            font-size: 0.8rem;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: center;
            color: #070404;
          }
        }
      }
    }
  }

  section.consulting-offices {
    background-color: #d8d8d8;
    padding: 50px 0px;
    color: #ffffff;
    background-image: url(~assets/images/background-van-phong-tu-van@2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    .title {}

    .addresses-block {
      display: flex;
      justify-content: center;

      .address-item {
        width: 30%;
        max-width: 500px;
        background: rgba(255, 255, 255, .31);
        margin-right: 30px;
        padding: 35px 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &:last-child {
          margin-right: 0px;
        }

        .title {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          margin-bottom: 4px;
          text-transform: initial;

          .icon {
            width: 24px;
            height: 24px;
            background-color: rgba(245, 245, 245, .2);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 8px;
          }

          .text {
            font-family: ProximaNova;
            font-size: 20px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            color: #ffffff;
          }
        }

        .address {
          font-family: ProximaNova;
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: center;
          color: #ffffff;
        }

        .btn {
          margin: 0px;
          margin-top: 12px;
        }
      }
    }

  }


  .video-block {
    .video-wrapper {
      width: 70%;
      padding-top: 39.375%;
      position: relative;
      margin: auto;

      iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0px;
        right: 0;
      }
    }
  }

  .form-support {
    margin-top: 100px;
  }

  .partners-block {
    .partners-wrapper {
      display: flex;
      flex-wrap: wrap;

      .partner {
        width: 20%;
        padding: 25px 27.5px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: auto;
          max-height: 60px;
          margin: auto;
          max-width: 100%;
        }
      }
    }

    hr {
      border-top: solid 1px #979797;
      width: 35%;
      margin: auto;
    }

    .text-more {
      font-family: ProximaNova;
      font-size: 24px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: center;
      color: #070604;
      margin: 24px auto;
    }
  }

  .articles-about-fitin-block {
    background-color: #f2f2f2;
    padding: 60px;

    .articles-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      .article {
        margin-right: 65px;

        &:last-child {
          margin-right: 0px;
        }

        img {
          width: auto;
          max-height: 48px;
          margin: auto;
          max-width: 100%;

          &.tinhte-logo,
          &.nhadep-logo {
            max-height: 65px;
          }
        }
      }
    }
  }

  .btn-fitin-hadocentrosa {
    margin: auto;
    margin-top: 24px;
    font-family: ProximaNova;
    font-size: 1em;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #ffffff;
    box-shadow: 0 10px 15px 0 rgba(182, 127, 0, 0.44);
    background-image: linear-gradient(to bottom, #ebce54, #d3a02a);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: block;
  }

  .btn.btn-discover {
    font-family: ProximaNova;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #070404;
    display: block;
    width: fit-content;
    margin: 20px auto;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff),
      linear-gradient(to bottom, #ebce54, #d3a02a);
  }

  .contact-form-wrapper {
    .form {
      position: relative;
      width: 100%;
      max-width: 500px;
      z-index: 100;

      .form-title {
        font-size: 1.3em;
      }
    }

    .overlay {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .close-button {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0px;
      width: 40px;
      height: 40px;
      font-size: 40px;
      line-height: 40px;
      color: white;
      text-align: center;
      background: black;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }

      cursor: pointer;
    }
  }

  @media screen and (max-width: 767px) {
    .title {
      height: unset;
      line-height: 1.6rem;
      margin-bottom: 24px;
      font-size: 1.3rem;
    }

    .slider-wp {
      .container {
        padding: 0;
      }
    }

    .steps-block {
      .steps {
        display: flex;

        .step {
          &::before {
            top: 23px;
          }

          &:first-child {
            &::before {}
          }

          &:last-child {
            &::before {}
          }

          .num-wrapper {
            width: 46px;
            height: 46px;
            padding: 7px;

            .num {
              width: 30px;
              height: 30px;
              line-height: 30px;
              font-size: 1.4rem;

              &:hover {
                cursor: pointer;
              }
            }
          }

          .desc {
            display: none;
            margin-top: 0px;
            margin-left: 12px;
            text-align: left;
          }
        }
      }
    }

    .apartment-types-block {
      .apartment-types {
        display: flex;
        flex-direction: column;

        .apartment-type {
          padding: 8px 0px;
          width: 100%;

          .title {
            font-weight: normal;
          }

          .apartment-style-slider-wrapper {
            .apartment-style-slider {
              .owl-carousel {
                .owl-nav {
                  margin: 0px;

                  button {
                    width: 30px;
                    height: 30px;
                    margin-top: -15px;
                    background-size: 14px;

                    &.owl-next {
                      right: 4px;
                    }

                    &.owl-prev {
                      left: 4px;
                    }
                  }
                }
              }

              a {
                .apartment-style-item {
                  font-size: 14px;

                  .image-wrapper {
                    .price {
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .fitin-services-block {
      margin-top: 100px;
      padding: 80px 0px;
      background: url("../images/services-bg@2x.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      .title {
        color: #ffffff;
        margin-bottom: 30px;
      }

      .fitin-services {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .fitin-service {
          box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.5);
          background-color: #ffffff;
          width: 80%;
          padding: 14px;
          text-align: center;
          margin: 15px auto;

          &:last-child {
            margin-right: auto;
          }
        }
      }
    }

    section.consulting-offices {
      .addresses-block {
        flex-direction: column;

        .address-item {
          width: 100%;
        }
      }

    }

    .video-block {
      .video-wrapper {
        width: 95%;
        padding-top: 53.4375%;
        position: relative;
        margin: 24px auto;
      }
    }

    .partners-block {
      .partners-wrapper {
        justify-content: center;

        .partner {
          width: 33.33%;
          padding: 24px 14px;
        }
      }

      hr {
        border-top: solid 1px #979797;
        width: 35%;
        margin: auto;
      }

      .text-more {
        font-family: ProximaNova;
        font-size: 1.2rem;
        margin: 24px auto;
      }
    }

    .articles-about-fitin-block {
      background-color: #f2f2f2;
      padding: 60px 8px;

      .articles-wrapper {
        flex-wrap: wrap;

        .article {
          max-width: 40%;
          margin-right: 0;
          margin: 12px 12px;

          // border: 1px solid #6f6f6f;
          &:last-child {
            margin-right: 0px;
          }

          img {
            width: auto;
            max-height: 48px;
            margin: auto;
            max-width: 100%;

            &.tinhte-logo,
            &.nhadep-logo {
              max-height: 65px;
            }
          }
        }
      }
    }
  }
}

// plugin
.homepage-wrapper {
  overflow-x: hidden;
}
.tns-outer {
  position: relative;
  .tns-nav {
    display: none;
  }
  .tns-controls {
    button {
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: rgba(255, 255, 255, .5);
      border-radius: 50%;
      top: 50%;
      margin-top: -25px;
      background-image: url(~assets/images/back.png);
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: center;
      outline: none;
      z-index: 9;
      text-indent: -99999px;

      span {
        display: none !important;
      }

      &[data-controls="prev"] {
        left: -25px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
      }

      &[data-controls="next"] {
        right: -25px;
        transform: rotateZ(180deg);
        box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.3);
      }
    }
  }
}