.layout-item {
  transition: box-shadow 0.3s;
  margin-bottom: 20px;
  &:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
    transition: box-shadow 0.3s;

    img {
      transform: scale(1.05, 1.05);
    }
  }

  img {
    transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -webkit-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    min-height: 230px;
    object-fit: cover;
    width: 100%;
  }

  .project-img {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 230px;
    // background: url('http://placehold.it/350x269');
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all 0.5s ease;
    .project-price {
      background: rgba(0, 0, 0, 0.55);
      position: absolute;
      top: 0;
      right: 0;
      color: #fff;
      z-index: 1;
      padding: 5px 15px;
    }
  }
  .project-content {
    padding: 15px;
    h3 {
      font-size: 20px;
    }
    p {
      margin-bottom: 0;
    }
    .label {
      font-family: ProximaNova;
      font-size: 1em;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #7a7c80;
    }

    .value {
      font-size: 1em;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: right;
      color: #070404;
    }
  }
}