// Font Size
@mixin fit-fontSize($value){
	font-size: $value !important;
}
@for $i from 0 through 100 {
   .fit-fontSize-#{$i}{
	   @include fit-fontSize(1px * $i)
   }
}
// pt Size
@mixin fit-pt($value){
	padding-top: $value !important;
}
@mixin fit-pb($value){
	padding-bottom: $value !important;
}
@for $i from 0 through 200 {
   .fit-pt-#{$i}{
	   @include fit-pt(1px * $i)
   }
   .fit-pb-#{$i}{
	   @include fit-pb(1px * $i)
   }
}
