
<section class="articles-about-fitin-block">
    <div class="title">BÁO CHÍ NÓI GÌ VỀ FITIN</div>
    <div class="articles-wrapper container">
        <div class="article"><a
                    href="https://vnexpress.net/kinh-doanh/tiem-nang-thi-truong-do-noi-that-viet-4008634.html"
                    target="_blank"><img src="static/template_1/images/news/vnexpress.png"
                                          class="vnexpress-logo"></a></div>
        <div class="article"><a
                    href="https://bazaarvietnam.vn/lifestyle/fashionable-life/tan-trang-nha-cua-nam-moi-voi-cong-nghe-showroom-3d-tu-fitin/"
                    target="_blank"><img src="static/template_1/images/news/bazaar.png"
                                          class="bazaar-logo"></a></div>
        <div class="article"><a
                    href="https://doanhnhansaigon.vn/dich-vu/ra-mat-showroom-noi-that-3d-truc-tuyen-fitin-vn-1095520.html"
                    target="_blank"><img src="static/template_1/images/news/doanh-nhan.png"
                                          class="doanh-nhan-logo"></a></div>
        <div class="article"><a
                    href="https://tinhte.vn/thread/ra-mat-ung-dung-fitin-xem-truoc-noi-that-muon-mua-voi-cong-nghe-3d-ar-tren-smartphone.3036512/"
                    target="_blank"><img src="static/template_1/images/news/tinhte.png"
                                          class="tinhte-logo"></a></div>
        <div class="article"><a
                    href="http://www.tcnhadep.com/fitin-huong-di-moi-trong-kinh-doanh-do-noi-that-tien-ich-huu-dung-toi-gan-hon-voi-khach-hang/"
                    target="_blank"><img src="static/template_1/images/news/nhadep.png"
                                          class="nhadep-logo"></a></div>
    </div>
</section>