
<section class="consulting-offices">
    <div class="title">TƯ VẤN THIẾT KẾ MIỄN PHÍ TRỰC TUYẾN <br>HOẶC TRỰC TIẾP TẠI VĂN PHÒNG FITIN</div>
    <div class="addresses-block">
        <div class="address-item">
            <div class="title">
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="18"
                                          viewBox="0 0 11 18">
                                        <path fill="#FFF"
                                              d="M5.04.5C2.256.5 0 2.757 0 5.54c.006.206.025.412.056.616.42 4.088 4.984 6.356 4.984 11.144 0-4.788 4.564-7.056 4.984-11.116.194-1.436-.243-2.886-1.198-3.976C7.87 1.118 6.489.495 5.04.5zm0 6.72c-.928 0-1.68-.752-1.68-1.68 0-.928.752-1.68 1.68-1.68.928 0 1.68.752 1.68 1.68 0 .928-.752 1.68-1.68 1.68z"></path>
                                    </svg>
                                </span>
                <span class="text">Địa chỉ chính</span>
            </div>
            <div class="address">21, Phùng Khắc khoan, P. Đa Kao, Q. 1, TP. HCM</div>
            <a class="btn btn-fitin-hadocentrosa">ĐẶT LỊCH VỚI TƯ VẤN VIÊN</a>
        </div>
        <div class="address-item">
            <div class="title">
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="18"
                                          viewBox="0 0 11 18">
                                        <path fill="#FFF"
                                              d="M5.04.5C2.256.5 0 2.757 0 5.54c.006.206.025.412.056.616.42 4.088 4.984 6.356 4.984 11.144 0-4.788 4.564-7.056 4.984-11.116.194-1.436-.243-2.886-1.198-3.976C7.87 1.118 6.489.495 5.04.5zm0 6.72c-.928 0-1.68-.752-1.68-1.68 0-.928.752-1.68 1.68-1.68.928 0 1.68.752 1.68 1.68 0 .928-.752 1.68-1.68 1.68z"></path>
                                    </svg>
                                </span>
                <span class="text">Địa chỉ phụ</span>
            </div>
            <div class="address">Lầu 8 Toà nhà Ree Tower, 9 Đoàn Văn Bơ, P. 12, Q. 4, TP. HCM</div>
            <a class="btn btn-fitin-hadocentrosa">ĐẶT LỊCH VỚI TƯ VẤN VIÊN</a>
        </div>
    </div>
</section>