
<section id="thong-tin-du-an" class="video-block container">
    <div class="title">THIẾT KẾ NỘI THẤT ĐẸP & NHANH CHÓNG VỚI FITIN 3D TECHNOLOGY</div>
    <div class="video-wrapper">
        <iframe src="https://www.youtube.com/embed/H5yqWALItXY" frameborder="0"
                allow="accelerometer; autoplay; fullscreen; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
</section>