
<section class="steps-block container">
    <div class="title">4 BƯỚC THIẾT KẾ NỘI THẤT DỄ DÀNG</div>
    <div class="steps justify-content-center">
        <div data-init="1" class="step active">
                <span class="num-wrapper">
                    <span class="num">1</span>
                </span>
            <span class="desc"> Tư vấn thiết kế <b>trực tuyến</b> cùng <br>kiến trúc sư FITIN</span>
        </div>
        <div data-init="2" class="step">
                <span class="num-wrapper">
                    <span class="num">2</span>
                </span>
            <span
                    class="desc"> Nhận thiết kế 3D <b>Miễn Phí</b> cùng <br>báo giá chi tiết trong 24 giờ!</span>
        </div>
        <div data-init="3" class="step">
                <span class="num-wrapper">
                    <span class="num">3</span>
                </span>
            <span class="desc"> Hoàn thiện lắp đặt  <br><b>nội thất trọn gói</b></span>
        </div>
        <div data-init="4" class="step">
                <span class="num-wrapper">
                    <span class="num">4</span>
                </span>
            <span class="desc"> Chuyển vào căn hộ <br>trong mơ </span>
        </div>
    </div>
    <div class="steps-slider">
        <div class="fit-slider fit-step-slider slide">
            <div class="item">
                <img src="static/template_1/images/slideItem/f-1.jpg" class="img-responsive">
                <div class="caption">
                    <div class="slider-item-info d-flex justify-content-center align-items-center">
                        <p>FITIN luôn sẵn sàng tư vấn thiết kế Miễn Phí cho căn hộ của bạn (cả Trực
                            tuyến & Trực tiếp).</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="static/template_1/images/slideItem/f-2.jpg" class="img-responsive">
                <div class="caption">
                    <div class="slider-item-info d-flex justify-content-center align-items-center">
                        <p>Khám phá thiết kế 3D đẹp với vài click chuột. Tùy biến thiết kế và nhận
                            báo giá trong 24 giờ</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="static/template_1/images/slideItem/f-3.jpg" class="img-responsive">
                <div class="caption">
                    <div class="slider-item-info d-flex justify-content-center align-items-center">
                        <p>Lựa chọn & thay đổi nội thất dễ dàng với hơn 3000 sản phẩm chất lượng.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="static/template_1/images/slideItem/f-4.jpg" class="img-responsive">
                <div class="caption">
                    <div class="slider-item-info d-flex justify-content-center align-items-center">
                        <p>Ưu đãi áp dụng trọn gói nội thất rời.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>