
<section class="banner-footer container">
    <div class="banner-footer-content">
        <img src="static/template_1/images/footer-banner.jpg" alt="Ý tưởng cho không gian hiện đại"
              class="image-left">
        <div class="content-right">
            <div class="top">
                <div class="title">Ý Tưởng Cho Không Gian Hiện Đại</div>
                <div class="description">Khám phá ngay bộ sưu tập nội thất 2020 phù hợp căn hộ {{ content.project_name }}!
                </div>
            </div>
            <hr>
            <div class="bottom">
                <div class="quote">“Thiết kế tốt đến từ người kiến tạo tốt. Mọi vấn đề đều có thể giải quyết
                    bằng những giải pháp hay”
                </div>
                <div class="author">– Stephen Gardiner -</div>
            </div>
            <a class="btn btn-discover">TẢI NGAY</a>
        </div>
    </div>
</section>