
<section class="partners-block container">
    <div class="title">ĐỐI TÁC FITIN ĐẾN TỪ 50+ THƯƠNG HIỆU NỘI THẤT CAO CẤP</div>
    <div class="partners-wrapper">
        <div class="partner">
            <img
                    src="static/template_1/images/partners/1200-px-jysk-logo-svg.png"
                    srcset="static/template_1/images/partners/1200-px-jysk-logo-svg@2x.png 2x, static/template_1/images/partners/1200-px-jysk-logo-svg@3x.png 3x"
                    class="jysk-logo"
            />
        </div>
        <div class="partner">
            <img
                    src="static/template_1/images/partners/cozino.png"
                    srcset="static/template_1/images/partners/cozino@2x.png 2x, static/template_1/images/partners/cozino@3x.png 3x"
                    class="cozino-logo"
            />
        </div>
        <div class="partner">
            <img
                    src="static/template_1/images/partners/vivacph.png"
                    srcset="static/template_1/images/partners/vivacph@2x.png 2x, static/template_1/images/partners/vivacph@3x.png 3x"
                    class="vivacph-logo"
            />
        </div>
        <div class="partner">
            <img
                    src="static/template_1/images/partners/tot.png"
                    class="tot-logo"
            />
        </div>
        <div class="partner">
            <img
                    src="static/template_1/images/partners/decox.png"
                    class="decox-logo"
            />
        </div>
        <div class="partner">
            <img
                    src="static/template_1/images/partners/B+Furniture.png"
                    class="b-logo"
            />
        </div>
        <div class="partner">
            <img
                    src="static/template_1/images/partners/Hans-Furniture.png"
                    class="hans-furniture-logo"
            />
        </div>
        <div class="partner">
            <img
                    src="static/template_1/images/partners/Zago.png"
                    class="zago-logo"
            />
        </div>
    </div>
    <hr>
    <div class="text-more">VÀ NHIỀU HƠN THẾ NỮA!</div>
</section>