{% extends 'template_3/layouts/default.twig' %}

{% block content %}
    <section class="project-detail-wp">
        <div class="container">
            <div class="breadcrumbs">
                <a href="{{ base_url }}{{ roomDetail.type }}">
                    <span class="back">
                        <span class="icon icon-back"></span>
                        Quay lại
                    </span>
                </a>
                <span class="breadcrumb-item"><a href="{{ base_url }}" class="nuxt-link-active">Trang chủ</a></span>
                <span class="breadcrumb-item">
                    <a href="{{ base_url }}{{ roomDetail.type }}">{{ roomDetail.name }}</a>
                </span>
                <span class="breadcrumb-item">{{ layoutDetail.layout_name }}</span>
            </div>
            <div class="row clearfix">
                <div class="col-12">
                    <section class="project-info">
                        <div class="title">Tổng quan</div>
                        <h4>{{ layoutDetail.layout_name }}</h4>
                        <h5>Dự án: {{ layoutDetail.project_name }}</h5>
                    </section>
                    <section class="buttons-area">
                        <ul>
                            {% if layoutDetail.extensions.panorama.url is not empty %}
                            <li>
                              <a href="{{ layoutDetail.extensions.panorama.url }}" target="_blank">
                                <i class="icofit fit-vr"></i>
                                <span>Xem định dạng VR</span>
                              </a>
                            </li>
                            {% endif %}
                        </ul>
                    </section>
                    <section>
                        <div class="big-img w-100" style="background-size:contain;background-repeat:no-repeat;background-position:center center;background-image:url('{{ defaultImage }}')"></div>
                        {% if layoutDetail.extensions.panorama.url is not empty %}
                        <div class="big-iframe w-100" style="display: none;">
                            <iframe allow="accelerometer; autoplay; fullscreen; encrypted-media; gyroscope; picture-in-picture" allowfullscreen src="{{ layoutDetail.extensions.panorama.url }}" frameborder="0" class="w-100 h-100"></iframe>
                        </div>
                        {% endif %}
                    </section>
                    <section class="slider-thumb mt-3">
                        {% if layoutDetail.gallery is not empty and layoutDetail.gallery | length > 0  %}
                            {% for item in layoutDetail.gallery %}
                                <div class="item ml-2 mr-2" data-url="{{ item.image_url }}" style="background-image: url('{{ item.thumb_url }}')">
                                    <img src="{{ item.thumb_url }}" alt="{{ layoutDetail.name }}" class="img-responsive">
                                </div>
                            {% endfor %}
                            {% if layoutDetail.layout_image_floor_plan_url is not empty %}
                                <div class="item ml-2 mr-2" data-url="{{ layoutDetail.layout_image_floor_plan_url }}" style="background-image: url('{{ layoutDetail.layout_image_floor_plan_url }}')">
                                    <img src="{{ layoutDetail.layout_image_floor_plan_url }}" alt="{{ layoutDetail.name }}" class="img-responsive">
                                </div>
                            {% endif %}
                            {% if layoutDetail.extensions.panorama.url is not empty %}
                                <div class="item ml-2 mr-2 panorama position-relative" data-url="{{ layoutDetail.extensions.panorama.url }}" style="background-image: url('{{ layoutDetail.layout_image_url }}')">
                                    <img
                                      src="{{ layoutDetail.layout_image_url }}"
                                      class="img-responsive"
                                    />
                                    <div class="wrapper" style="
                                        position: absolute;
                                        top: 0px;
                                        left: 0px;
                                        width: 100%;
                                        height: 100%;
                                        background-color: rgba(0,0,0,0.6);
                                        font-size: 80px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        color: white;
                                    ">
                                      <i class="icofit fit-vr"></i>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    </section>
                    <section class="download-button">
                        <button class="download">
                            <span class="icon icon-download"></span>
                            <span class="btn-text">TẢI NGAY BẢNG BÁO GIÁ VÀ THIẾT KẾ</span>
                        </button>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <div class="support-form fixed-top w-100 h-100 align-items-center">
        <script>window.ApiSubmitHubspot = '{{ config.quotation_url }}/api/v1/hubspot/form/quick/submit'</script>
        <div class="overlay"></div>
        <div class="close-button">X</div>
        <div class="form">
            <form name="support">
                <input type="hidden" name="layout_id" value="{{ layoutDetail.int_id }}">
                <div class="form-title">BẠN CẦN CẢI TẠO PHÒNG CHỨC NĂNG?</div>
                    <div class="form-field">
                        <label for="customer-name">Diện tích phòng trong khoảng</label> 
                        <input name="area" required="required" class="txt-name" type="text">
                    </div>
                    <div class="form-field">
                        <label for="customer-name">Chi phí trong khoảng</label> 
                        <input name="budget" required="required" class="txt-name" type="text">
                    </div>
                    <div class="form-field">
                        <label for="customer-name">Yêu cầu thêm</label> 
                        <input name="support" required="required" class="txt-name" type="text">
                    </div>
                    <span style="font-style:italic;font-size:12px">Vui lòng để lại thông tin, FITIN sẽ liên hệ bạn ngay</span> 
                    <div class="form-field">
                        <label for="customer-name">Tên của bạn</label> 
                        <input name="customer-name" required="required" class="txt-name" type="text">
                    </div>
                    <div class="form-field">
                        <label for="phone">Số điện thoại của bạn</label> 
                        <input name="phone" type="number" required="required" class="txt-name">
                    </div>
                    <div class="form-field">
                        <label for="phone">Email của bạn</label>
                        <input name="email" type="email" required="required" class="txt-name">
                    </div>
                    <div class="form-field">
                        <button type="submit" class="btn btn-fitin">GỬI YÊU CẦU</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}