<template>
  <div>
    <b-alert v-if="$nuxt.isOffline" variant="danger" dismissible>You are offline</b-alert>
    <nuxt />
  </div>
</template>

<script>
import { get } from "lodash";
import { mapGetters } from "vuex";
import axios from "axios";
// import Cookie from 'js-cookie';
import Cookie from "@/helpers/sessionHelper";
export default {
  created() {
    this.$store.dispatch("resource/getApiResource");
    // if(!Cookie.get('guest_fid')){
    //   this.$store.dispatch('getApiGuest');
    // } else {
    //   this.$store.commit("SET_GUEST_TOKEN", Cookie.get('guest_fid'));
    // }
  }
  // computed: mapGetters(['access_token']),
  // watch: {
  //   'access_token': function (val) {
  //     if (val) {
  //       axios.defaults.headers.common['Authorization'] =`${val}`;
  //     }
  //   }
  // }
};
</script>

<style>
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
</style>
