<template>
    <nuxt/>
</template>
<script>
export default {
  layout: 'error-layout' 
}
</script>
<style lang="scss">
.error-pages{
  position: relative; 
  width: 100%; 
  height: 500px;
}
.error-404, .error-500, .error-403 {
  position: absolute;
  top: 50%;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-25%, -50%);
}
.error-404 {
  max-width: 600px;
}
.error-500 {
  max-width: 790px;
}
.error-403 {
  max-width: 599px;
}
</style>