<template>
  <div class="layout-item">
    <div class="project-img">
      <img class="img-responsive" :src="data.layout_image_url" />
      <span class="project-price">Giá chỉ từ: {{formatPrice(get(data,'metadata.price.estimated', 0))}} VND</span>
    </div>  
    <div class="project-content">
      <div class="row m-0 justify-content-between">
        <span class="label">Tên dự án</span>
        <span class="value">{{data.project_name}}</span>
      </div>
      <div class="row m-0 justify-content-between" v-if="data.area">
        <span class="label">Diện tích(m2)</span>
        <span class="value">{{data.area}}</span>
      </div>
      <div class="row m-0 justify-content-between" v-if="get(data, 'location.block', false)">
        <span class="label">Toà nhà</span>
        <span class="value">{{get(data, 'location.block', false)}}</span>
      </div>
      <div class="row m-0 justify-content-between" v-if="get(data,'location.apartment_code', false)">
        <span class="label">Mã căn hộ</span>
        <span class="value">{{get(data,'location.apartment_code', false)}}</span>
      </div>
    </div>
  </div>
</template>

<script>
import { get } from "lodash";
export default {
  props: ['data'],
  data() {
    return {
      get
    }
  },
  methods: {
    formatPrice: function(price) {
      return (price||0).toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1.");
    },
  }
};
</script>
