.form {
    margin: auto;
    padding: 30px;
    box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.27);
    background-color: #ffffff;

    .form-title {
        text-align: center;
        font-size: 1.7em;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #070404;
    }

    .form-field {
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;

        label {
            font-size: 1em;
            height: 1.71em;
            line-height: 1.71em;
            margin: 0;
        }

        input:not([type="button"]),
        input:not([type="submit"]),
        select {
            height: 36px;
            border-radius: 2px;
            border: solid 1px rgba(8, 21, 38, .15);
            outline: none;
            padding: 0px 8px;

            &:focus {
                border-color: #4397f1;
            }

            &[type="number"] {
                -moz-appearance: textfield;
            }

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

        select {
            border-radius: none !important;
            -moz-appearance: none;
            /* Firefox */
            -webkit-appearance: none;
            /* Safari and Chrome */
            appearance: none;
            position: relative;
            background: url("../images/down.png") no-repeat right #ffffff;
            background-size: 12px;
            background-position-x: calc(100% - 8px);
        }

        button {
            outline: none;

            &.btn-fitin {
                margin: auto;
                margin-top: 17px;
                font-family: ProximaNova;
                font-size: 1em;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.71;
                letter-spacing: normal;
                color: #ffffff;
                box-shadow: 0 10px 15px 0 rgba(182, 127, 0, 0.44);
                background-image: linear-gradient(to bottom, #ebce54, #d3a02a);
                width: fit-content;
            }
        }

    }

}