/** CUSTOM SLIDER vueper **/
.vueperslides.fit-slider {
  &:not(.no-shadow):not(.vueperslides--3d) .vueperslides__parallax-wrapper {

    &:after,
    &:before {
      box-shadow: none;
    }
  }

  margin-bottom: 20px;

  &.fit-slider-child {
    // max-width: 100%;
    margin: auto -10px;

    img {
      width: 100%;
      pointer-events: none;
      object-fit: cover;
    }

    .vueperslides__arrow {
      box-shadow: 1px 0 4px 0 rgba(141, 141, 141, 0.5);
      height: 35px;
      width: 20px;
      transform: rotate(0deg);
      padding: 0 2px;

      &:focus,
      &:active,
      &:hover,
      &:visited {
        outline: none;
      }

      &:before {
        color: #000;
        font-family: "Font-fitin" !important;
        font-size: 16px;
      }

      &.vueperslides__arrow--prev {
        left: 11px;
        margin-top: -20px;
      }

      &.vueperslides__arrow--next {
        right: 11px;
        margin-top: -20px;
      }

      &.vueperslides__arrow--prev:before {
        transform: rotate(90deg);
        content: "\e916";
        display: inline-block;
      }

      &.vueperslides__arrow--next:before {
        transform: rotate(-90deg);
        content: "\e916";
        display: inline-block;
      }

      svg {
        display: none;
      }
    }

    .vueperslide {
      padding: 10px;
      opacity: .5;
      &.vueperslide--active {
        opacity: 1;
      }
    }
  }

  &.fit-slider-project {
    .vueperslides__track {
      width: 85%;
      margin: auto;
    }

    .vueperslides__arrow {
      box-shadow: 1px 0 4px 0 rgba(141, 141, 141, 0.5);
      width: 30px;
      height: 130px;
      transform: rotate(0deg);
      padding: 0 2px;
      margin-top: -110px;

      &:focus,
      &:active,
      &:hover,
      &:visited {
        outline: none;
      }

      &:before {
        color: #000;
        font-family: "Font-fitin" !important;
        font-size: 20px;
      }

      &.vueperslides__arrow--prev {
        left: 5%;
        // margin-top: -110px;
      }

      &.vueperslides__arrow--next {
        right: 5%;
        // margin-top: -110px;
      }

      &.vueperslides__arrow--prev:before {
        transform: rotate(90deg);
        content: "\e916";
        display: inline-block;
      }

      &.vueperslides__arrow--next:before {
        transform: rotate(-90deg);
        content: "\e916";
        display: inline-block;
      }

      svg {
        display: none;
      }
    }

    .slider-project .slider-col {
      width: 50%;
      float: left;
      padding: 10px;
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      .slider-content {
        position: absolute;
        left: 0;
        right: auto;
        bottom: 0;
        padding: 15px;
        background: rgba(0, 0, 0, 0.3);
        margin: 10px;

        p {
          margin-bottom: 0;
          font-weight: bold;
          font-size: 1.3em;
          // text-transform: uppercase;
          color: #fff;
          text-align: center;
        }
      }

      img {
        width: 100%;
        pointer-events: none;
      }
    }

    .slider-content-bt {
      padding: 15px;
      text-align: center;
      font-size: 16px;
      p {
        margin-bottom: 5px;
      }
    }
  }

  &.fit-slider-main {

    .vueperslides__track {
      margin: auto;
    }

    .vueperslides__arrow {
      box-shadow: 1px 0 4px 0 rgba(141, 141, 141, 0.5);
      width: 30px;
      height: 130px;
      transform: rotate(0deg);
      padding: 0 2px;

      &:focus,
      &:active,
      &:hover,
      &:visited {
        outline: none;
      }

      &:before {
        color: #000;
        font-family: "Font-fitin" !important;
        font-size: 20px;
      }

      &.vueperslides__arrow--prev {
        left: 40px;
        // margin-top: -110px;
      }

      &.vueperslides__arrow--next {
        right: 40px;
        // margin-top: -110px;
      }

      &.vueperslides__arrow--prev:before {
        transform: rotate(90deg);
        content: "\e916";
        display: inline-block;
      }

      &.vueperslides__arrow--next:before {
        transform: rotate(-90deg);
        content: "\e916";
        display: inline-block;
      }

      svg {
        display: none;
      }
    }

    .vueperslides__bullets {
      left: auto;
      right: 10%;
      bottom: 10%;

      .vueperslides__bullet {
        margin: 0px 0.5em;
        -webkit-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        .default {
          border: 2px solid #FFFFFF;
          width: 20px;
          height: 20px;
        }
      }

      .vueperslides__bullet--active {
        .default {
          border-width: 10px;
        }
      }
    }

    .slider-main-content {
      img {
        pointer-events: none;
        // width: auto;
        height: 100%;
      }

      .slider-content {
        max-width: 70%;
        padding: 30px;
        background: rgba(0, 0, 0, .5);
      }
    }
  }
}

/** RESPONSIVE **/
@media screen and (min-width: 1025px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {
  .vueperslides {
    &.fit-slider {
      &.fit-slider-main {
        .vueperslides__bullets {
          left: 0;
          right: 0;
          bottom: -20px;

          .vueperslides__bullet {
            .default {
              border: 1px solid #000000;
              width: 12px;
              height: 12px;
            }
          }

          .vueperslides__bullet--active {
            .default {
              border: 6px solid #000000;
            }
          }
        }

        .slider-main-content {
          .slider-content {
            width: 100%;
            max-width: 100%;
            padding: 15px;
            font-size: 1rem;

            p {
              font-size: 1em;
            }
          }
        }
      }

      &.fit-slider-project {
        font-size: 1rem;

        .vueperslides__parallax-wrapper {
          padding-bottom: 200% !important;
        }

        .slider-project {
          display: flex;
          flex-direction: column;

          .slider-col {
            width: 100%;
            padding: 0;

            .slider-content {
              p {
                font-size: 1em;
              }
            }
          }
        }

        .vueperslides__arrows {
          .vueperslides__arrow {
            margin-top: -135px;

            &.vueperslides__arrow--prev {
              left: 0%;
            }

            &.vueperslides__arrow--next {
              right: 0%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 475px) {
  .vueperslides {
    &.fit-slider {
      &.fit-slider-main {
        .slider-main-content {
          width: 100%;
          max-width: 100%;

          .slider-content {
            width: 100%;
            padding: 15px;
            font-size: 0.8rem;

            p {
              font-size: 1em;
            }
          }
        }
      }
    }
  }
}