.swal2-styled.swal2-cancel,
.swal2-styled.swal2-confirm  {
  height: 40px;
  padding: 8px 15px;
  text-align:center;
  text-transform: capitalize;
  outline: none;
  border-radius: 0;
  white-space: nowrap;
  vertical-align: middle;
  transition: all 0.5s ease;
  font-size: 14px;
  line-height: 18px;
  
  box-shadow: 0 20px 40px 0 rgba(1,0,0,.32);
  background-color: #000 !important;
  color: #fff !important;
  border-radius: 0 !important;
  &:hover{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27);
    background-color: #4a4a4a !important;
    color: #fff !important;
  }
}