<template>
  <div class="form">
    <div class="form-title">BẠN CẦN CẢI TẠO PHÒNG CHỨC NĂNG?</div>
    <b-alert variant="danger" :show="validform.valid === false">
      <button type="button" aria-label="Close" class="close" @click="validform = {}">×</button>
      <p
        class="mb-0"
        v-for="(item, idx) in validform.fields"
        :key="item.field + '-' + idx"
      >{{item.message}}</p>
    </b-alert>

    <div class="form-field">
      <label for="customer-name">Diện tích phòng trong khoảng</label>
      <input name="customer-name" type="text" class="txt-name" v-model="area" required />
    </div>

    <div class="form-field">
      <label for="customer-name">Chi phí trong khoảng</label>
      <input name="customer-name" type="text" class="txt-name" v-model="budget" required />
    </div>

    <div class="form-field">
      <label for="customer-name">Yêu cầu thêm</label>
      <input name="customer-name" type="text" class="txt-name" v-model="support" required />
    </div>
    
    <!-- <div class="form-field">
      <label for="supports">Bạn cần Fitin</label>
      <b-select id="supports" v-if="ct_wish_list.length > 0" v-model="support">
        <option v-for="item in ct_wish_list" :key="'option-' + item.value" :value="item.name">{{item.name}}</option>
      </b-select>
    </div> -->

    <span
      style="font-style: italic; font-size: 12px"
    >Vui lòng để lại thông tin, FITIN sẽ liên hệ bạn ngay</span>
    <!-- <div class="form-field">
      <label for="projects">Tên toà nhà</label>
      <b-select id="supports" v-if="towers.length > 0" v-model="tower">
        <option v-for="item in towers" :key="'option-' + item.id" :value="item.name">{{item.name}}</option>
      </b-select>
    </div> -->
    <div class="form-field">
      <label for="customer-name">Tên của bạn</label>
      <input name="customer-name" type="text" class="txt-name" v-model="customerName" required />
    </div>
    <div class="form-field">
      <label for="phone">Số điện thoại của bạn</label>
      <input name="phone" type="number" class="txt-name" v-model="phone" required />
    </div>
    <div class="form-field">
      <label for="phone">Email của bạn</label>
      <input name="email" type="email" class="txt-name" v-model="email" required />
    </div>

    <div class="form-field">
      <button class="btn btn-fitin" v-on:click="submitForm" :disabled="submiting">GỬI YÊU CẦU</button>
    </div>
  </div>
</template>

<script>
import apiCall from "@/helpers/apiCall";
import { ApiSubmitHubspot, ApiResources } from "@/config";
import COOKIE from "js-cookie";
import { get } from "lodash";
import { mapState } from "vuex";
export default {
  name: "SupportForm",
  data() {
    return {
      area: "",
      budget: "",
      customerName: "",
      customerName: "",
      phone: "",
      email: "",
      project: "Home Renovation",
      support: "",
      submiting: false,
      validform: {},
      tower: "toa",
      towers: [
        { id: "toa-a", name: "Toà A" },
        { id: "toa-b", name: "Toà B" },
        { id: "toa-c", name: "Toà C" },
        { id: "toa-d", name: "Toà D" },
        { id: "toa-e", name: "Toà E" },
        { id: "toa-G", name: "Toà G" },
      ]
    };
  },
  methods: {
    async submitForm() {
      const validform = this.validateForm();
      this.validform = validform;
      if (validform.valid === false) {
        // this.$bvToast.toast(
        //   "Vui lòng nhập đủ thông tin liên hệ để Fitin phụ vụ bạn tốt hơn",
        //   {
        //     variant: "primary",
        //     title: "Thông báo"
        //   }
        // );
        return false;
      }
      this.submiting = true;
      const data = {
        budget: this.budget,
        area: this.area,
        name: this.customerName,
        phone: this.phone,
        email: this.email,
        project: this.project,
        message: this.support,
        tower: this.tower,
        cookie: document.cookie,
        hubspotutk: COOKIE.get("hubspotutk"),
        action: 'home_renovation'
      };
      if (this.layoutDetail) {
        data.layout_id = this.layoutDetail.int_id;
      }
      let result = {};
      try {
        result = await apiCall("post", ApiSubmitHubspot, data);
      } catch (error) {
        result = error;
      }
      const { response } = result || {};
      this.submiting = false;
      if (get(response, "code") === 0) {
        this.customerName = "";
        this.budget = "";
        this.area = "";
        this.phone = "";
        this.email = "";
        this.project = "Home Renovation";
        this.support = "Tư vấn cải tạo căn hộ hoặc nhà riêng";
        this.tower = "toa";
        // this.$bvToast.toast("Gửi yêu cầu thành công!", {
        //   variant: "success",
        //   title: "Thông báo"
        // });
        this.$swal.fire({
          icon: "success",
          title: "Gửi thành công qua email",
          text: "Vui lòng kiểm tra email của bạn để xem báo giá nhé!"
        });
        if (typeof this.onCloseModal === "function") {
          this.onCloseModal();
        }

        dataLayer.push({ event: "lead" });
      } else {
        // this.$bvToast.toast(get(result, "data.message"), {
        //   variant: "error",
        //   title: "Thông báo"
        // });
        this.$swal.fire({
          icon: "error",
          title: "Thông báo",
          text: get(result, "data.message")
        });
      }
    },
    validateForm() {
      var validform = [];
      if (this.customerName === "") {
        validform.push({
          field: "customerName",
          message: "Vui lòng nhập tên",
          valid: false
        });
      }
      if (this.phone === "") {
        validform.push({
          field: "phone",
          message: "Vui lòng nhập số điện thoại",
          valid: false
        });
      }
      if (this.email === "") {
        validform.push({
          field: "email",
          message: "Vui lòng nhập email",
          valid: false
        });
      }
      if (this.support === "") {
        validform.push({
          field: "support",
          message: "Vui lòng chọn dịch vụ bạn cần Fitin hỗ trợ",
          valid: false
        });
      }

      if (this.tower === "") {
        validform.push({
          field: "tower",
          message: "Vui lòng chọn toà nhà trong dự án",
          valid: false
        });
      }

      var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
      if (this.email && emailPattern.test(this.email) === false) {
        validform.push({
          field: "email",
          message: "Vui lòng nhập đúng định dạng email",
          valid: false
        });
      }
      // var phonePattern = /(09|01[2|6|8|9])+([0-9]{8})\b/g;
      var vnf_regex = /((09|03|07|08|05)+([0-9]{8})\b)/g;
      if (this.phone && vnf_regex.test(this.phone) === false) {
        validform.push({
          field: "phone",
          message: "Vui lòng nhập đúng định dạng số điện thoại",
          valid: false
        });
      }

      return {
        valid: validform.length === 0,
        fields: validform
      };
    }
  },
  props: ["projects", "onCloseModal", "layoutDetail"],
  created() {},
  mounted() {
    if (this.ct_wish_list.length) {
      this.support = get(this.ct_wish_list, '0.name', '');
    }
  },
  computed: {
    ...mapState({
      ct_wish_list: state => get(state, "resource.data.ct_wish_list", []),
      ct_projects: state => get(state, "resource.data.ct_projects", [])
    })
  }
};
</script>

<style lang="scss">
.form {
  width: 100%;
  margin: auto;
  padding: 30px;
  box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.27);
  background-color: #ffffff;

  .form-title {
    text-align: center;
    font-size: 1.7em;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #070404;
  }

  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;

    label {
      font-size: 1em;
      height: 1.71em;
      line-height: 1.71em;
      margin: 0;
    }

    input:not([type="button"]),
    input:not([type="submit"]),
    textarea,
    select {
      height: 36px;
      border-radius: 2px;
      border: solid 1px rgba(8, 21, 38, 0.15);
      outline: none;
      padding: 0px 8px;
      box-shadow: none;

      &:focus {
        border-color: #4397f1;
      }

      &[type="number"] {
        -moz-appearance: textfield;
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    select {
      border-radius: none !important;
      -moz-appearance: none;
      /* Firefox */
      -webkit-appearance: none;
      /* Safari and Chrome */
      appearance: none;
      position: relative;
      background: url("../../assets/images/down.png") no-repeat right #ffffff;
      background-size: 12px;
      background-position-x: calc(100% - 8px);
    }

    textarea {
      height: auto;
    }

    button {
      outline: none;

      &.btn-fitin {
        margin: auto;
        margin-top: 17px;
        font-family: ProximaNova;
        font-size: 1em;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        color: #ffffff;
        box-shadow: 0 10px 15px 0 rgba(182, 127, 0, 0.44);
        background-image: linear-gradient(to bottom, #ebce54, #d3a02a);
        width: fit-content;
      }
    }
  }
}
</style>