{% extends 'template_2/layouts/default.twig' %}

{% block content %}
    <section class="project-detail-wp">
        <div class="container">
            <div class="breadcrumbs">
                <a href="/thiet-ke/can-ho-{{ layoutDetail.bed_room_num }}-phong-ngu">
                    <span class="back">
                        <span class="icon icon-back"></span>
                        Quay lại
                    </span>
                </a>
                <span class="breadcrumb-item"><a href="/" class="nuxt-link-active">Trang chủ</a></span>
                <span class="breadcrumb-item">
                    <a href="/thiet-ke/can-ho-{{ layoutDetail.bed_room_num }}-phong-ngu">Căn hộ {{ layoutDetail.bed_room_num }} phòng ngủ</a>
                </span>
                <span class="breadcrumb-item">{{ layoutDetail.name }}</span>
            </div>
            <div class="row clearfix">
                <div class="col-12">
                    <section class="project-info">
                        <div class="title">Tổng quan</div>
                        <div class="description">{{ layoutDetail.desc }}</div>
                    </section>
                    <section class="buttons-area">
                        <ul>
                            {% if layoutDetail.panorama_url is not empty %}
                            <li>
                              <a href="{{ layoutDetail.panorama_url }}" target="_blank">
                                <i class="icofit fit-vr"></i>
                                <span>Xem định dạng VR</span>
                              </a>
                            </li>
                            {% endif %}
                        </ul>
                    </section>
                    <section>
                        <div class="big-img w-100" style="background-size:contain;background-repeat:no-repeat;background-position:center center;background-image:url('{{ defaultImage }}')"></div>
                        {% if layoutDetail.panorama_url is not empty %}
                        <div class="big-iframe w-100" style="display: none;">
                            <iframe allow="accelerometer; autoplay; fullscreen; encrypted-media; gyroscope; picture-in-picture" allowfullscreen src="{{ layoutDetail.panorama_url }}" frameborder="0" class="w-100 h-100"></iframe>
                        </div>
                        {% endif %}
                    </section>
                    <section class="slider-thumb mt-3">
                        {% if layoutDetail.gallery is not empty and layoutDetail.gallery | length > 0  %}
                            {% for item in layoutDetail.gallery %}
                                <div class="item ml-2 mr-2" data-url="{{ item.image_path_url }}" style="background-image: url('{{ item.image_path_url }}')">
                                    <img src="{{ item.image_path_url }}" alt="{{ layoutDetail.name }}" class="img-responsive">
                                </div>
                            {% endfor %}
                            {% if layoutDetail.image_floor_plan_url is not empty %}
                                <div class="item ml-2 mr-2" data-url="{{ layoutDetail.image_floor_plan_url }}" style="background-image: url('{{ layoutDetail.image_floor_plan_url }}')">
                                    <img src="{{ layoutDetail.image_floor_plan_url }}" alt="{{ layoutDetail.name }}" class="img-responsive">
                                </div>
                            {% endif %}
                            {% if layoutDetail.panorama_url is not empty %}
                                <div class="item ml-2 mr-2 panorama position-relative" data-url="{{ layoutDetail.panorama_url }}" style="background-image: url('{{ layoutDetail.image_url }}')">
                                    <img
                                      src="{{ layoutDetail.image_url }}"
                                      class="img-responsive"
                                    />
                                    <div class="wrapper" style="
                                        position: absolute;
                                        top: 0px;
                                        left: 0px;
                                        width: 100%;
                                        height: 100%;
                                        background-color: rgba(0,0,0,0.6);
                                        font-size: 80px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        color: white;
                                    ">
                                      <i class="icofit fit-vr"></i>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    </section>
                    <section class="download-button">
                        <button class="download">
                            <span class="icon icon-download"></span>
                            <span class="btn-text">TẢI NGAY BẢNG BÁO GIÁ VÀ THIẾT KẾ</span>
                        </button>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <div class="support-form fixed-top w-100 h-100 align-items-center">
        <script>window.ApiSubmitHubspot = '{{ config.quotation_url }}/api/v1/hubspot/form/quick/submit'</script>
        <div class="overlay"></div>
        <div class="close-button">X</div>
        <div class="form">
            <form name="support">
                <input type="hidden" name="project" value="{{ layoutDetail.project_name }}">
                <input type="hidden" name="tower" value="{{ layoutDetail.project_name }}">
                <input type="hidden" name="layout_id" value="{{ layoutDetail.layout_id }}">
            <div class="form-title">BẠN ĐÃ SẴN SÀNG CHO CĂN HỘ TRONG MƠ</div>
            <!---->
            <div class="form-field">
                <label for="supports">Bạn cần Fitin</label>
                <select id="supports" class="custom-select">
                    <option value="Tư vấn cải tạo căn hộ">Tư vấn cải tạo căn hộ</option>
                    <option value="Tư vấn nội thất phù hợp với nhu cầu">Tư vấn nội thất phù hợp với nhu cầu</option>
                    <option value="Tư vấn thi công cải tạo phòng khách">Tư vấn thi công cải tạo phòng khách</option>
                    <option value="Tư vấn thi công cải tạo phòng ngủ">Tư vấn thi công cải tạo phòng ngủ</option>
                    <option value="Yêu cầu khác ..">Yêu cầu khác ..</option>
                </select>
            </div>
            <span style="font-style: italic; font-size: 12px;">Vui lòng để lại thông tin, FITIN sẽ liên hệ bạn ngay</span>
            <div class="form-field"><label for="customer-name">Tên của bạn</label> <input name="customer-name" type="text" required="required" class="txt-name"></div>
            <div class="form-field"><label for="phone">Số điện thoại của bạn</label> <input name="phone" type="number" required="required" class="txt-name"></div>
            <div class="form-field"><label for="phone">Email của bạn</label> <input name="email" type="email" required="required" class="txt-name"></div>
            <div class="form-field"><button type="submit" class="btn btn-fitin">GỬI YÊU CẦU</button></div>
            </form>
        </div>
    </div>
{% endblock %}