{% extends 'template_3/layouts/default.twig' %}

{% block content %}
    <div class="project-layouts-list-wrapper">
        <div class="breadcrumbs container">
            <a href="{{ base_url }}" class="nuxt-link-active">
                <span class="back"><span class="icon icon-back"></span> Quay lại</span>
            </a>
            <span class="breadcrumb-item">
                <a href="{{ base_url }}" class="nuxt-link-active">Trang chủ</a>
            </span>
            <span class="breadcrumb-item">{{ roomDetail.name }}</span>
        </div>

        <div class="project-layout-container">
            <div class="title">CÁC MẪU THIẾT KẾ CHO {{ roomDetail.name }}</div>
            <div class="container">
                <div class="layout-list">
                    {% if roomDetail.dataRooms is not empty and roomDetail.dataRooms | length > 0 %}
                        {% for type in roomDetail.dataRooms %}
                            <a href="{{ base_url }}{{ roomDetail.type }}/{{ type['slug'] }}-{{ type['int_id'] }}"
                            class="layout-item-wrapper">
                                <div class="layout-item">
                                    <div class="project-img">
                                        <img src="{{ type['layout_image_url'] }}" alt="{{ type['layou_name'] }}"
                                            class="img-responsive">
                                        <span class="price d-none">Giá chỉ từ: {{ type['metadata']['price']['estimated'] | number_format }} VND</span>
                                    </div>
                                    <div class="project-content">
                                        <div class="row m-0 justify-content-between">
                                            <span class="label">Tên dự án</span>
                                            <span class="value">{{ type['project_name'] }}</span>
                                        </div>
                                        <div class="row m-0 justify-content-between">
                                            <span class="label">Diện tích(m2)</span>
                                            <span class="value">{{ type['area'] }}</span>
                                        </div>
                                        <div class="row d-none">
                                            <span class="label">Toà nhà</span>
                                            <span class="value"></span>
                                        </div>
                                        <div class="row d-none">
                                            <span class="label">Mã căn hộ</span>
                                            <span class="value"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
                <hr>
            </div>
            <div class="other-design">
                <div class="title">CÁC MẪU THIẾT KẾ KHÁC</div>
                <div class="apartment-types container">
                    {% if roomOther is not empty and roomOther | length > 0 %}
                        {% for room in roomOther %}
                        <div class="apartment-type">
                            <a href="{{ base_url }}{{ room.type }}">
                                <div class="apartment-type-wrapper">
                                    <div class="image-wrapper">
                                        <img src="static/template_3/images/room-1-bedroom.jpg" alt="" srcset="">
                                    </div>
                                    <div class="name" style="font-size: 1.2rem;font-weight: 700;">{{ room.name }}</div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <section id="tu-van" class="form-support">
                <script>window.ApiSubmitHubspot = '{{ config.quotation_url }}/api/v1/hubspot/form/quick/submit'</script>
                <form action="">
                    <div class="form">
                        <div class="form-title">BẠN CẦN CẢI TẠO PHÒNG CHỨC NĂNG?</div>
                        <div class="form-field">
                            <label for="customer-name">Diện tích phòng trong khoảng</label> 
                            <input name="area" required="required" class="txt-name" type="text">
                        </div>
                        <div class="form-field">
                            <label for="customer-name">Chi phí trong khoảng</label> 
                            <input name="budget" required="required" class="txt-name" type="text">
                        </div>
                        <div class="form-field">
                            <label for="customer-name">Yêu cầu thêm</label> 
                            <input name="support" required="required" class="txt-name" type="text">
                        </div>
                        <span style="font-style:italic;font-size:12px">Vui lòng để lại thông tin, FITIN sẽ liên hệ bạn ngay</span> 
                        <div class="form-field">
                            <label for="customer-name">Tên của bạn</label> 
                            <input name="customer-name" required="required" class="txt-name" type="text">
                        </div>
                        <div class="form-field">
                            <label for="phone">Số điện thoại của bạn</label> 
                            <input name="phone" type="number" required="required" class="txt-name">
                        </div>
                        <div class="form-field">
                            <label for="phone">Email của bạn</label>
                            <input name="email" type="email" required="required" class="txt-name">
                        </div>
                        <div class="form-field">
                            <button type="submit" class="btn btn-fitin">GỬI YÊU CẦU</button>
                        </div>
                    </div>                
                </form>
            </section>
        </div>

    </div>
{% endblock %}