{% extends 'template_1/layouts/default.twig' %}
{% block content %}
    <div class="product-detail-container">
        <div style="position: relative; width: 100%; height: 510px;">
            <div class="error-404"><img src="static/images/error/404-error.png" alt=""></div>
        </div>
    </div>
{% endblock %}
