<template>
  <div class="apartment-type">
    <nuxt-link :to="`/${data.type}`">
      <div class="apartment-type-wrapper">
        <div class="image-wrapper">
          <img :src="data.image_url" alt />
        </div>
        <div class="name">{{data.name}}</div>
      </div>
    </nuxt-link>
  </div>
</template>

<script>
export default {
  name: "ApartmentTypeItem",
  props: ["data"]
};
</script>

<style lang="scss">
.apartment-type {
  width: 100%;
  padding: 0px;

  .apartment-type-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.27);

    .image-wrapper {
      margin-bottom: 12px;
      width: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        transition: transform 0.5s ease-in-out;

        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
      }
    }

    .name {
      text-align: center;
      padding-bottom: 12px;
      font-weight: bold;
      font-size: 1.2rem;
    }

    &:hover {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27);
    }
  }
}

@media screen and (max-width: 767px) {
  .apartment-type {
    width: 95%;
    margin: auto;
    padding: 8px;
  }
}
</style>