<template>
<div class="error-pages">
  <div class="error-404">
     <img src="~/assets/images/error/404-error.png" alt />
  </div>
  </div>
</template>
<script>
export default {
  name: 'error-404',
  props: {
    error: {
      type: Object,
      default: () => {},
    },
  },
};
</script>