<template>
  <div class="error-500">
     <img src="~/assets/images/error/500-error.png" alt />
  </div>
</template>
<script>
export default {
  name: 'error-500',
  props: {
    error: {
      type: Object,
      default: () => {},
    },
  },
};
</script>