<template>
  <div class="homepage-wrapper">
    <Header />
    <section class="slider-wp">
      <div class="container">
        <div class="slider-main-content">
          <div class="banner-video-wrapper">
            <iframe
              v-if="isLoadVideoIframe && !isMobile"
              :src="slidesMainVideo"
              frameborder="0"
              allow="accelerometer; autoplay; fullscreen; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
              class="w-100 h-100"
              id="banner-video"
            ></iframe>
            <div class="gif-banner" v-if="isMobile">
              <img src="~/assets/images/banner-gif.gif" alt />
            </div>
            <div class="img-cover" v-if="!isLoadVideoIframe">
              <img src="~/assets/images/video-image-cover.jpg" alt />
            </div>
            <!-- <video autoplay loop muted playsinline id="banner-video">
              <source src="~/assets/videos/banner.mp4" type="video/mp4" />
            </video>-->
          </div>

          <div class="block-info">
            <h1 class="title mb-0">
              ƯU ĐÃI
              <span class="yellow">25%</span>
            </h1>
            <div class="sub-title">CẢI TẠO NỘI THẤT CHỈ 24 GIỜ!</div>
            <div
              class="ttc"
            >*Ưu đãi áp dụng trọn gói nội thất rời.</div>
          </div>
        </div>
      </div>
    </section>

    <!-- LOẠI CĂN HỘ -->
    <section class="apartment-types-block container" id="tu-van-thiet-ke">
      <div class="title">BẠN MUỐN THIẾT KẾ CHO LOẠI CĂN HỘ</div>
      <hr />
      <div class="apartment-types">
        <!-- ROOMS -->
        <div v-for="(block, i) in blockRooms" :key="'room-'+ i">
          <div class="apartment-type" v-if="block.dataRooms">
            <div class="title">
              <nuxt-link :to="`/${block.type}`">
                {{ block.name }}
              </nuxt-link>
            </div>
            <div :class="`apartment-style-slider-wrapper apartment-style-slider-wrapper-${i}`">
              <nuxt-link
                class="apartment-style-slider"
                :to="`/${block.type}/${room.int_id}`"
                v-for="(room, i) in block.dataRooms"
                :key="'slide-1-'+i"
              >
                <LayoutItem :data="room" v-if="room != undefined" />
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- THIẾT KẾ ĐÃ ĐƯA VÀO SỬ DỤNG -->
    <section class="project-customer-wp d-none">
      <h2 class="title text-center">THIẾT KẾ ĐÃ ĐƯA VÀO SỬ DỤNG</h2>
      <div class="container">
        <vueper-slides
          :slide-ratio="1 / 2"
          :class="'fit-slider fit-slider-project'"
          :bullets="false"
        >
          <vueper-slide
            :visible-slides="2"
            slide-multiple
            :gap="2"
            v-for="(slide, i) in slidesDemo"
            :key="`demo-slide-${i}}`"
          >
            <template v-slot:content>
              <div class="slider-project row m-0">
                <div class="slider-col">
                  <div class="slider-content">
                    <p>Trước khi cải tạo</p>
                  </div>
                  <img :src="slide.imageBefore" class="img-responsive" />
                </div>
                <div class="slider-col">
                  <div class="slider-content">
                    <p>Sau khi cải tạo</p>
                  </div>
                  <img :src="slide.imageAfter" class="img-responsive" />
                </div>
              </div>
              <div class="slider-content-bt">
                <p>{{slide.textLine1}}</p>
                <p>{{slide.textLine2}}</p>
                <p>{{slide.textLine3}}</p>
              </div>
            </template>
          </vueper-slide>
        </vueper-slides>
      </div>
    </section>

    <!-- 4 BƯỚC THIẾT KẾ NỘI THẤT DỄ DÀNG -->
    <section class="steps-block container">
      <div class="title">4 BƯỚC CẢI TẠO NỘI THẤT DỄ DÀNG</div>
      <div class="steps justify-content-center">
        <div class="step" :class="{active: slide >= 0}">
          <span class="num-wrapper" @click="slide = 0">
            <span class="num">1</span>
          </span>
          <span class="desc">
            Tư vấn thiết kế <b>trực tuyến</b> cùng
            <br />chuyên gia nội thất FITIN
          </span>
        </div>
        <div class="step" :class="{active: slide >= 1}">
          <span class="num-wrapper" @click="slide = 1">
            <span class="num">2</span>
          </span>
          <span class="desc">
            Nhận thiết kế 3D <b>Miễn Phí</b> &
            <br />báo giá chi tiết trong <span style="color: #d5a42d">24 giờ!</span>
          </span>
        </div>
        <div class="step" :class="{active: slide >= 2}">
          <span class="num-wrapper" @click="slide = 2">
            <span class="num">3</span>
          </span>
          <span class="desc">
            Hoàn thiện cải tạo căn hộ
            <br><span style="color: #d5a42d">Tiết kiệm đến 25%</span>.
          </span>
        </div>
        <div class="step" :class="{active: slide >= 3}">
          <span class="num-wrapper" @click="slide = 3">
            <span class="num">4</span>
          </span>
          <span class="desc">
            Tận hưởng không gian sống chất lượng
          </span>
        </div>
      </div>
      <!-- STEP SLIDER -->
      <div class="steps-slider">
        <b-carousel class="fit-slider fit-step-slider" v-model="slide" :interval="3000" controls>
          <b-carousel-slide v-for="(itemslide, i) in slides" :key="'slide-'+i">
            <template v-slot:img>
              <img :src="itemslide.image" class="img-responsive" />
            </template>
            <div class="slider-item-content">
              <div class="slider-item-info d-flex justify-content-center align-items-center">
                <p class="desc">{{ itemslide.desc }}</p>
                <p>{{ itemslide.title }}</p>
              </div>
            </div>
          </b-carousel-slide>
        </b-carousel>
      </div>
    </section>

    <!-- <a @click="handleShowChatWidget" class="btn btn-fitin-hadocentrosa">TƯ VẤN NGAY</a> -->

    <!-- TƯ VẤN THIẾT KẾ MIỄN PHÍ TRỰC TUYẾN -->
    <section class="consulting-offices" style="margin-top: 100px;">
      <div class="title">TƯ VẤN THIẾT KẾ MIỄN PHÍ TRỰC TUYẾN <br>HOẶC TRỰC TIẾP TẠI VĂN PHÒNG FITIN</div>
      <div class="addresses-block">
        <div class="address-item">
          <div class="title">
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="11" height="18" viewBox="0 0 11 18">
                <path
                  fill="#FFF"
                  d="M5.04.5C2.256.5 0 2.757 0 5.54c.006.206.025.412.056.616.42 4.088 4.984 6.356 4.984 11.144 0-4.788 4.564-7.056 4.984-11.116.194-1.436-.243-2.886-1.198-3.976C7.87 1.118 6.489.495 5.04.5zm0 6.72c-.928 0-1.68-.752-1.68-1.68 0-.928.752-1.68 1.68-1.68.928 0 1.68.752 1.68 1.68 0 .928-.752 1.68-1.68 1.68z"
                />
              </svg>
            </span>
            <span class="text">Địa chỉ chính</span>
          </div>
          <div class="address">21, Phùng Khắc khoan, P. Đa Kao, Q. 1, TP. HCM</div>
          <a
            @click="handleShowChatWidget"
            class="btn btn-fitin-hadocentrosa"
          >ĐẶT LỊCH VỚI TƯ VẤN VIÊN</a>
        </div>
        <div class="address-item">
          <div class="title">
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="11" height="18" viewBox="0 0 11 18">
                <path
                  fill="#FFF"
                  d="M5.04.5C2.256.5 0 2.757 0 5.54c.006.206.025.412.056.616.42 4.088 4.984 6.356 4.984 11.144 0-4.788 4.564-7.056 4.984-11.116.194-1.436-.243-2.886-1.198-3.976C7.87 1.118 6.489.495 5.04.5zm0 6.72c-.928 0-1.68-.752-1.68-1.68 0-.928.752-1.68 1.68-1.68.928 0 1.68.752 1.68 1.68 0 .928-.752 1.68-1.68 1.68z"
                />
              </svg>
            </span>
            <span class="text">Địa chỉ phụ</span>
          </div>
          <div class="address">Lầu 8 Toà nhà Ree Tower, 9 Đoàn Văn Bơ, P. 12, Q. 4, TP. HCM</div>
          <a
            @click="handleShowChatWidget"
            class="btn btn-fitin-hadocentrosa"
          >ĐẶT LỊCH VỚI TƯ VẤN VIÊN</a>
        </div>
      </div>
    </section>

    <!-- THIẾT KẾ NỘI THẤT ĐẸP & NHANH CHÓNG VỚI FITIN 3D TECHNOLOGY -->
    <section class="video-block container" id="thong-tin-du-an">
      <div class="title">CẢI TẠO NỘI THẤT NHANH CHÓNG & TIẾT KIỆM CÙNG FITIN 3D PRO</div>
      <div class="video-wrapper">
        <iframe
          src="https://www.youtube.com/embed/H5yqWALItXY"
          frameborder="0"
          allow="accelerometer; autoplay; fullscreen; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <!-- <a class="btn btn-fitin-hadocentrosa" @click="showSupportForm('download-project-info')">TẢI THÔNG TIN DỰ ÁN</a> -->
    </section>

    <!-- BÁO CHÍ NÓI GÌ VỀ FITIN -->
    <section class="articles-about-fitin-block" style="margin-top: 100px;">
      <div class="title">BÁO CHÍ NÓI GÌ VỀ FITIN</div>
      <div class="articles-wrapper container">
        <!-- VNEXPRESS -->
        <div class="article">
          <a
            href="https://vnexpress.net/kinh-doanh/tiem-nang-thi-truong-do-noi-that-viet-4008634.html"
            target="_blank"
          >
            <img
              src="~/assets/images/news/vnexpress.png"
              srcset="~/assets/images/news/vnexpress@2x.png 2x, ~/assets/images/news/vnexpress@3x.png 3x"
              class="vnexpress-logo"
            />
          </a>
        </div>

        <!-- BAZAAR -->
        <div class="article">
          <a
            href="https://bazaarvietnam.vn/lifestyle/fashionable-life/tan-trang-nha-cua-nam-moi-voi-cong-nghe-showroom-3d-tu-fitin/"
            target="_blank"
          >
            <img
              src="~/assets/images/news/bazaar.png"
              srcset="~/assets/images/news/bazaar@2x.png 2x, ~/assets/images/news/bazaar@3x.png 3x"
              class="bazaar-logo"
            />
          </a>
        </div>

        <!-- DOANH NHAN SAI GON -->
        <div class="article">
          <a
            href="https://doanhnhansaigon.vn/dich-vu/ra-mat-showroom-noi-that-3d-truc-tuyen-fitin-vn-1095520.html"
            target="_blank"
          >
            <img src="~/assets/images/news/doanh-nhan.png" class="doanh-nhan-logo" />
          </a>
        </div>

        <!-- TINH TE -->
        <div class="article">
          <a
            href="https://tinhte.vn/thread/ra-mat-ung-dung-fitin-xem-truoc-noi-that-muon-mua-voi-cong-nghe-3d-ar-tren-smartphone.3036512/"
            target="_blank"
          >
            <img
              src="~/assets/images/news/tinhte.png"
              srcset="~/assets/images/news/tinhte@2x.png 2x, ~/assets/images/news/tinhte@3x.png 3x"
              class="tinhte-logo"
            />
          </a>
        </div>

        <!-- TAP CHI NHA DEP -->
        <div class="article">
          <a
            href="http://www.tcnhadep.com/fitin-huong-di-moi-trong-kinh-doanh-do-noi-that-tien-ich-huu-dung-toi-gan-hon-voi-khach-hang/"
            target="_blank"
          >
            <img
              src="~/assets/images/news/nhadep.png"
              srcset="~/assets/images/news/nhadep@2x.png 2x, ~/assets/images/news/nhadep@3x.png 3x"
              class="nhadep-logo"
            />
          </a>
        </div>
      </div>
    </section>

    <!-- FITIN'S PARTNERs -->
    <section class="partners-block container">
      <div class="title">ĐỐI TÁC FITIN ĐẾN TỪ 50+ THƯƠNG HIỆU NỘI THẤT CAO CẤP</div>
      <div class="partners-wrapper">
        <!-- JYSK -->
        <div class="partner">
          <img
            src="~/assets/images/partners/1200-px-jysk-logo-svg.png"
            srcset="~/assets/images/partners/1200-px-jysk-logo-svg@2x.png 2x, ~/assets/images/partners/1200-px-jysk-logo-svg@3x.png 3x"
            class="px-Jysk_logosvg"
          />
        </div>

        <!-- COZINO -->
        <div class="partner">
          <img
            src="~/assets/images/partners/cozino.png"
            srcset="~/assets/images/partners/cozino@2x.png 2x, ~/assets/images/partners/cozino@3x.png 3x"
            class="cozino-logo"
          />
        </div>

        <!-- VIVAPCH -->
        <div class="partner">
          <img
            src="~/assets/images/partners/vivacph.png"
            srcset="~/assets/images/partners/vivacph@2x.png 2x, ~/assets/images/partners/vivacph@3x.png 3x"
            class="vivacph-logo"
          />
        </div>
        
        <!-- TOT -->
        <div class="partner">
          <img
            src="~/assets/images/partners/tot.png"
            class="tot-logo"
          />
        </div>

        <!-- Decox -->
        <div class="partner">
          <img
            src="~/assets/images/partners/decox.png"
            class="decox-logo"
          />
        </div>

      </div>

      <hr />
      <div class="text-more">VÀ NHIỀU HƠN THẾ NỮA!</div>
    </section>

    <!-- TẠI SAO NÊN CHỌN FITIN -->
    <!-- <section class="fitin-services-block">
      <div class="container">
        <h2 class="title">TẠI SAO NÊN CHỌN FITIN?</h2>
        <div class="fitin-services">
          <div class="fitin-service">
            <div class="service-block-top">
              <div class="block-inner">
                <img src="~/assets/images/free-dollar-icon.png" class="icon-dollar" />
              </div>
            </div>
            <div class="service-block-bt">
              <p class="highlight">Tư vấn thiết kế nội thất 100% miễn phí</p>
              <hr />
              <p class="desc">
                Cho dù bạn muốn được tư vấn thiết kế
                <b>1 : 1</b> hay chỉ cần trợ giúp giải đáp thắc mắc, kiến trúc sư FITIN luôn sẵn sàng đồng hành cùng bạn.
              </p>
            </div>
          </div>
          <div class="fitin-service">
            <div class="service-block-top">
              <div class="block-inner">
                <img src="~/assets/images/3-d-home.png" class="icon-telephone" />
              </div>
            </div>
            <div class="service-block-bt">
              <p class="highlight">
                Trải nghiệm 3D căn hộ
                thực tế
              </p>
              <hr />
              <p
                class="desc"
              >Mọi thứ đều sẵn sàng để bạn trải nghiệm căn hộ yêu thích với đầy đủ nội thất chỉ qua vài click!</p>
            </div>
          </div>
          <div class="fitin-service">
            <div class="service-block-top">
              <div class="block-inner">
                <img src="~/assets/images/bill-icon.png" class="icon-bill" />
              </div>
            </div>
            <div class="service-block-bt">
              <p class="highlight">Nhận thiết kế tuỳ chỉnh & báo giá trong 24h</p>
              <hr />
              <p
                class="desc"
              >Không còn chờ đợi bản thiết kế từ 2 – 4 tuần, FITIN rút ngắn thời gian thiết kế chỉ trong 24h, đi kèm báo giá chi tiết.</p>
            </div>
          </div>
          <div class="fitin-service">
            <div class="service-block-top">
              <div class="block-inner">
                <img src="~/assets/images/coach-icon.png" class="coach-icon" />
              </div>
            </div>
            <div class="service-block-bt">
              <p class="highlight">3000+ sản phẩm nội thất trong nước & nhập khẩu</p>
              <hr />
              <p
                class="desc"
              >Khác với phương thức truyền thống, bạn luôn có mức giá tốt nhất khi mua sắm nội thất từ các thương hiệu FITIN đề xuất.</p>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- PHONG CÁCH THIẾT KẾ NỘI THẤT BẠN KHÔNG THỂ BỎ QUA -->
    <!-- <section class="project-wp">
      <div class="container">
        <div class="title-wp row clearfix">
          <div class="col-sm-12 text-center position-relative">
            <h2 class="title">PHONG CÁCH THIẾT KẾ NỘI THẤT BẠN KHÔNG THỂ BỎ QUA</h2>
          </div>
        </div>
        <div class="row clearfix">
          <div
            class="col-md-4 col-sm-6"
            v-for="item of this.projectLayout"
            v-bind:key="'project-' + item.project_id"
          >
            <LayoutItem :data="item" />
          </div>
        </div>
      </div>
    </section> -->

    <!-- FORM SUPPORT -->
    <section class="form-support" id="tu-van">
      <SupportForm :projects="projectData" />
    </section>

    <!-- BANNER FOOTER -->
    <!-- <section class="banner-footer container">
      <div class="banner-footer-content">
        <img
          src="~/assets/images/footer-banner.jpg"
          srcset="~/assets/images/footer-banner@2x.jpg 2x, ~/assets/images/footer-banner@3x.jpg 3x"
          class="image-left"
          alt="Ý tưởng cho không gian hiện đại"
        />
        <div class="content-right">
          <div class="top">
            <div class="title">Ý Tưởng Cho Không Gian Hiện Đại</div>
            <div
              class="description"
            >Khám phá ngay bộ sưu tập nội thất 2020 phù hợp căn hộh!</div>
          </div>
          <hr />
          <div class="bottom">
            <div
              class="quote"
            >“Thiết kế tốt đến từ người kiến tạo tốt. Mọi vấn đề đều có thể giải quyết bằng những giải pháp hay”</div>
            <div class="author">– Stephen Gardiner -</div>
          </div>
          <a class="btn btn-discover" @click="showSupportForm('download-lookbook')">TẢI NGAY</a>
        </div>
      </div>
    </section> -->

    <!-- MAIN FOOTER -->
    <Footer></Footer>

    <!-- POPUP FORM CONTACT -->
    <div
      class="contact-form-wrapper fixed-top w-100 h-100 align-items-center d-flex"
      v-if="showForm"
    >
      <div class="overlay" @click="onCloseFormModal"></div>
      <div class="close-button" @click="onCloseFormModal">X</div>
      <ContactForm
        :onCloseModal="onCloseFormModal"
        :action="action"
        :onSubmitContactSuccess="onSubmitContactSuccess"
        :title="contactFormTitle"
        button="TẢI NGAY"
      />
    </div>
  </div>
</template>

<script>
import Header from "@/components/Commont/Header";
import Footer from "@/components/Commont/Footer";
import SupportForm from "@/components/support-form/support-form";
import LayoutItem from "@/components/layout-item/layout-item";
import ContactForm from "@/components/contact-form/contact-form";
import { get, concat, each } from "lodash";
import { UrlBase } from "../config";
import { VueperSlides, VueperSlide } from "vueperslides";
import "vueperslides/dist/vueperslides.css";
export default {
  name: "Home",
  data() {
    return {
      get,
      blockRooms: [],
      projectData: [],

      showTTC: false,
      isLoadVideoIframe: false,
      isMobile: false,
      slidesMainVideo: "https://www.youtube.com/embed/IP_dD7Yi7Zo?autoplay=1&controls=0&loop=1&playlist=IP_dD7Yi7Zo&playsinline=1&mute=1",
      slides: [
        {
          image: UrlBase + "images/slideItem/f-1.jpg",
          title:
            "FITIN luôn sẵn sàng tư vấn thiết kế Miễn Phí cho căn hộ của bạn (cả Trực tuyến & Trực tiếp).",
          desc: "Trao đổi trực tiếp cùng kiến trúc sư FITIN"
        },
        {
          image: UrlBase + "images/slideItem/f-2.jpg",
          title:
            "Khám phá thiết kế 3D đẹp với vài click chuột. Tùy biến thiết kế và nhận báo giá trong 24 giờ",
          desc: "Bản thiết kế đi kèm báo giá chi tiết trong 24 giờ!"
        },
        {
          image: UrlBase + "images/slideItem/f-3.jpg",
          title:
            "Lựa chọn & thay đổi nội thất dễ dàng với hơn 3000 sản phẩm chất lượng.",
          desc: "Hoàn thiện lắp đặt"
        },
        {
          image: UrlBase + "images/slideItem/f-4.jpg",
          title: "Nhận ngay 25% ưu đãi trọn gói nội thất rời.",
          desc: "Chuyển vào căn hộ trong mơ"
        }
      ],
      slide: 0,
      showForm: false,
      action: "",
      contactFormTitle: "",
      apartmentSliderOptions: {
        margin: 0
      },
      swiperOption: {
        loop: true,
        slidesPerView: "auto",
        centeredSlides: true,
        spaceBetween: 30,
        pagination: {
          el: ".swiper-pagination",
          dynamicBullets: true
        }
      },
      slidesDemo: [
        {
          imageBefore: UrlBase + "images/demo/img-before.jpg",
          imageAfter: UrlBase + "images/demo/img-after.jpg",
          textLine1: "Căn hộ nhà anh Nguyễn Văn A",
          textLine2: "Cải tạo phòng khách. Giá trọn gói: 200 triệu.",
          textLine3: "Tháng 3 - 2020 ",
        },
        {
          imageBefore: UrlBase + "images/demo/img-before.jpg",
          imageAfter: UrlBase + "images/demo/img-after.jpg",
          textLine1: "Căn hộ nhà anh Nguyễn Văn B",
          textLine2: "Cải tạo phòng khách. Giá trọn gói: 300 triệu.",
          textLine3: "Tháng 4 - 2020 ",
        },
      ],
      slideDemo: 0,
    };
  },
  components: {
    Header,
    Footer,
    SupportForm,
    LayoutItem,
    ContactForm,
    VueperSlides, VueperSlide
  },
  async asyncData({ store }) {
    const roomCategory = await store.dispatch("project/getApiRoomCategory");
    const blockRooms = [];
    let projectData = [];
    if ((roomCategory||[]).length) {
      for (let index = 0; index < roomCategory.length; index++) {
        const item = roomCategory[index];
        const dataRooms = await store.dispatch("project/getApiLayoutRenovationByRoomType", item.type);
        if ((dataRooms||[]).length) {
          projectData = concat(projectData, dataRooms);
          blockRooms.push({
            name: item.name,
            type: item.type,
            dataRooms
          })
        }
      }
    }
    return {
      blockRooms,
      projectData
    }
  },
  methods: {
    async loadData() {
      const roomCategory = await this.$store.dispatch("project/getApiRoomCategory");
      const blockRooms = [];
      if (roomCategory.length) {
        for (let index = 0; index < roomCategory.length; index++) {
          const item = roomCategory[index];
          const dataRooms = await this.$store.dispatch("project/getApiLayoutRenovationByRoomType", item.type);
          if (dataRooms.length) {
            blockRooms.push({
              name: item.name,
              type: item.type,
              dataRooms
            })
          }
        }
      }
      this.blockRooms = blockRooms;
    },
    onCloseFormModal: function() {
      this.showForm = false;
      try {
        document.getElementById("hubspot-messages-iframe-container").className =
          "widget-align-right";
      } catch (error) {
        console.log(error);
      }
    },
    showSupportForm: function(action) {
      this.showForm = true;
      this.action = action;
      if (action == "download-lookbook") {
        this.contactFormTitle = "Ý TƯỞNG THIẾT KẾ CHO CĂN HỘ HIỆN ĐẠI";
      } else {
        this.contactFormTitle = "BẠN ĐÃ SẴN SÀNG CHO CĂN HỘ TRONG MƠ";
      }
      try {
        const hubspot = document.getElementById(
          "hubspot-messages-iframe-container"
        );
        if (hubspot) {
          hubspot.className = "widget-align-right d-none";
        }
      } catch (error) {
        console.log(error);
      }
    },
    onSubmitContactSuccess: function(action) {
      if (action == "download-lookbook") {
        dataLayer.push({
          event: "completeRegistration",
          data: { action: action }
        });
        window.open("/pdfs/Hado-lookbook.pdf", "_blank");
      } else if (action == "download-project-info") {
        dataLayer.push({
          event: "completeRegistration",
          data: { action: action }
        });
        window.open("/pdfs/Hado-thongtinduan.pdf", "_blank");
      }
    },
    handleShowChatWidget: function() {
      try {
        window.HubSpotConversations.widget.open();
      } catch (error) {
        console.log(error);
      }
    },
    detectMobile: function() {
      const mobileRegex = /android|webos|phone|ipad|ipod|blackberry|windows phone/i;
      if (navigator.userAgent.match(mobileRegex)) {
        this.isMobile = true;
      }
    },
    initSlider: function () {
      // init slider
      each(this.blockRooms, (item, i) => {
        if (document.getElementsByClassName('apartment-style-slider-wrapper-' + i).length) {
          var slider1 = tns({
            container: '.apartment-style-slider-wrapper-' + i,
            items: 1,
            slideBy: 'page',
            nav: false,
            edgePadding: 0,
            gutter: 20,
            responsive: {
              640: {
                items: 2
              },
              980: {
                items: 3
              }
            }
          });
        }
      });
    }
  },
  mounted() {
    this.isLoadVideoIframe = true;
    this.detectMobile()
    // this.loadData();
    setTimeout(() => {
      this.initSlider();
    }, 100);    
  }
};
</script>
