<template>
  <div>
    <Header></Header>
    <section class="project-detail-wp">
      <div class="container">
        <div class="breadcrumbs">
          <nuxt-link :to="`/${type.type}`">
            <span class="back">
              <span class="icon icon-back"></span> Quay lại
            </span>
          </nuxt-link>
          <span class="breadcrumb-item">
            <nuxt-link to="/">Trang chủ</nuxt-link>
          </span>
          <span class="breadcrumb-item">
            <nuxt-link
              :to="`/${type.type}`"
            >{{type.name}}</nuxt-link>
          </span>
          <span class="breadcrumb-item">{{layoutDetail.layout_name}}</span>
        </div>
        <div class="row clearfix">
          <div class="col-12">
            <section class="project-info">
              <div class="title mb-3">Tổng quan</div>
              <h4 v-if="layoutDetail.layout_name">{{layoutDetail.layout_name}}</h4>
              <h5 v-if="layoutDetail.project_name">Dự án: {{layoutDetail.project_name}}</h5>
              <div class="description" v-html="layoutDetail.desc">{{layoutDetail.desc}}</div>
            </section>
            <!-- <section class="buttons-area">
              <ul>
                <li v-if="isPanorama">
                  <a :href="layoutDetail.extensions.url" target="_blank">
                    <i class="icofit fit-vr"></i>
                    <span>Xem định dạng VR</span>
                  </a>
                </li>
              </ul>
            </section> -->
            
            <section class="mb-3">
              <div v-if="viewMain.isImg" class="big-img w-100" style="background-size: contain; background-repeat: no-repeat; background-position: center center;" :style="{backgroundImage: `url('${viewMain.src}')`}"></div>
              <div v-else class="big-iframe w-100" >
                <iframe allow="accelerometer; autoplay; fullscreen; encrypted-media; gyroscope; picture-in-picture" :src="viewMain.src" frameborder="0" class="w-100 h-100"></iframe>
              </div>
            </section>

            <vueper-slides
              :class="'fit-slider fit-slider-child'"
              ref="fitslidersm"
              :slide-ratio="9/16/4"
              :visible-slides="4"
              :dragging-distance="70" prevent-y-scroll
              :bullets="false"
              :touchable="true"
            >
              <vueper-slide
                v-for="(slide, i) in layoutDetail.gallery"
                :key="`project-detail-item-child-gallery-${i}`"
                @click.native="() => handleSlide({image_url: slide.image_url, index: i})"
              >
                <template v-slot:content>
                  <div
                    class="vueperslide__content-wrapper"
                    :style="'background-image: url('+slide.thumb_url+'); background-size: cover;'"
                  >
                    <img :src="slide.thumb_url" class="img-responsive" style="visibility: hidden" />
                  </div>
                </template>
              </vueper-slide>

              <vueper-slide
                v-if="layoutDetail.layout_image_floor_plan_url"
                :key="`project-detail-item-child-floor-plan`"
                @click.native="() => handleSlide({image_url: layoutDetail.layout_image_floor_plan_url, index: (layoutDetail.gallery||[]).length})"
              >
                <template v-slot:content>
                  <div 
                    class="vueperslide__content-wrapper" 
                    :style="'background-image: url('+layoutDetail.layout_image_floor_plan_url+'); background-size: cover;'"
                  >
                    <img
                      :src="layoutDetail.layout_image_floor_plan_url"
                      class="img-responsive"
                      style="visibility: hidden" 
                    />
                  </div>
                </template>
              </vueper-slide>

              <vueper-slide
                v-if="isPanorama"
                :key="`project-detail-item-child-panorama`"
                @click.native="() => handleSlide({panorama_url: get(layoutDetail, 'extensions.panorama.url', ''), index: ((layoutDetail.gallery||[]).length + (layoutDetail.layout_image_floor_plan_url ? 1 : 0)) })"
              >
                <template v-slot:content>
                  <div 
                    class="vueperslide__content-wrapper" 
                    :style="'background-image: url('+layoutDetail.layout_image_url+'); background-size: cover;'"
                    >
                    <img
                      :src="layoutDetail.layout_image_url"
                      class="img-responsive"
                      style="visibility: hidden"
                    />
                    <div class="wrapper" style="
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        width: calc(100% - 20px);
                        height: calc(100% - 20px);
                        background-color: rgba(0,0,0,0.6);
                        font-size: 80px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                    ">
                      <i class="icofit fit-vr"></i>
                    </div>
                  </div>
                </template>
              </vueper-slide>

            </vueper-slides>

            <section class="download-button">
              <button class="download" @click="showSupportForm">
                <span class="icon icon-download"></span>
                <span class="btn-text">TẢI NGAY BẢNG BÁO GIÁ VÀ THIẾT KẾ</span>
              </button>
            </section>
          </div>
        </div>
      </div>
    </section>
    <Footer></Footer>
    <div class="support-form fixed-top w-100 h-100 align-items-center d-flex" v-if="showForm">
      <div class="overlay" @click="onCloseFormModal"></div>
      <div class="close-button" @click="onCloseFormModal">X</div>
      <SupportForm :layoutDetail="layoutDetail" :onCloseModal="onCloseFormModal" />
    </div>
    <div class="support-form fixed-top w-100 h-100 align-items-center d-flex" v-if="view2D">
      <div class="overlay" @click="view2D = ''"></div>
      <div class="close-button" @click="view2D = ''">X</div>
      <div class="big-img d-flex align-items-center justify-content-center w-100 h-100">
        <img
          class="img-fluid"
          style="max-height: 100%; position: relative; z-index: 1"
          :src="view2D"
          alt="floor plan"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Header from "@/components/Commont/Header";
import Footer from "@/components/Commont/Footer";
import SupportForm from "@/components/support-form/support-form";
import { VueperSlides, VueperSlide } from "vueperslides";
import "vueperslides/dist/vueperslides.css";
import { get, findIndex } from "lodash";
import { URL_ECOM_EDITOR } from "@/config";
export default {
  name: "Home",
  data() {
    return {
      get,
      slickOptions: {
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        fade: true,
        asNavFor: this.$refs.slickSetting2
      },
      slickOptions2: {
        arrows: true,
        slidesToShow: 4,
        slidesToScroll: 2,
        touchThreshold: 3,
        dots: false,
        speed: 500,
        infinite: true,
        cssEase: "linear",
        // focusOnSelect: true,
        asNavFor: this.$refs.slickSetting1
      },
      pauseOnHover: true,
      showForm: false,
      layoutDetail: {},
      URL_ECOM_EDITOR,
      view2D: "",
      viewMain: {
        isImg: false,
        src: ""
      },
      isPanorama: false
    };
  },
  components: {
    Header,
    Footer,
    VueperSlides,
    VueperSlide,
    SupportForm
  },
  async asyncData({ params, store }) {
    const roomCategory = await store.dispatch("project/getApiRoomCategory");
    const layoutDetail = await store.dispatch("project/getApiLayoutRenovationDetail", params.id);
    const dataState = {
      layoutDetail,
      type: roomCategory.filter(item => item.type === params.typeRoom )[0]
    };
    if (get(layoutDetail, 'extensions.panorama.enable') && get(layoutDetail, 'extensions.panorama.url')) {
      dataState.viewMain = {
        isImg: false,
        src: get(layoutDetail, 'extensions.panorama.url')
      };
      dataState.isPanorama = true;
    } else {
      dataState.viewMain = {
        isImg: true,
        src: get(layoutDetail, 'gallery.0.thumb_url', '')
      }
    }
    return dataState;
  },
  methods: {
    onCloseFormModal: function() {
      this.showForm = false;
      try {
        document.getElementById("hubspot-messages-iframe-container").className =
          "widget-align-right";
      } catch (error) {
        console.log(error);
      }
    },
    showSupportForm: function() {
      this.showForm = true;
      try {
        document.getElementById("hubspot-messages-iframe-container").className =
          "widget-align-right d-none";
      } catch (error) {
        console.log(error);
      }
    },
    handleDownBG: function() {
      alert("TẢI NGAY BẢNG BÁO GIÁ VÀ THIẾT KẾ");
    },
    handleSlide: function (data) {
      if (this.$refs.fitslidersm) {
        this.$refs.fitslidersm.goToSlide(data.index);
      }
      if (get(data, 'panorama_url', '') !== '') {
        this.viewMain = {
          isImg: false,
          src: encodeURI(get(data, 'panorama_url', ''))
        }
      } else {
        this.viewMain = {
          isImg: true,
          src: encodeURI(get(data, 'image_url', ''))
        }
      }
    }
  },
  head() {
    let image = "https://saigonsouthresidences.fitin.vn/_nuxt/img/a144229.jpg";
    const gallery = get(this.layoutDetail, "gallery") || [];
    const desc =
      get(this.layoutDetail, "desc") ||
      "Cùng FITIN lên ý tưởng cho thiết kế cải tạo phòng chức năng của bạn. Đội ngũ chuyên gia uy tín. Thiết kế miễn phí 100%. Nhận ngay báo giá chi tiết. Tham khảo 3000+ sản phẩm nội thất trong nước và nhập khẩu.";
    const title =
      get(this.layoutDetail, "name") ||
      "thiết kế cải tạo phòng chức năng chỉ 24 giờ!";
    if (gallery.length > 0) {
      image = get(gallery, "0.thumb_url") || image;
    }
    return {
      title: title,
      meta: [
        { hid: "twitter:title", name: "twitter:title", content: title },
        { hid: "og:title", name: "og:title", content: title },
        {
          hid: "description",
          name: "description",
          content: desc
        },
        {
          hid: "twitter:description",
          name: "twitter:description",
          content: desc
        },
        { hid: "og:description", name: "og:description", content: desc },
        {
          hid: "twitter:image",
          name: "twitter:image",
          content: image
        },
        {
          hid: "og:image",
          property: "og:image",
          content: image
        }
      ]
    };
  }
};
</script>

<style lang="scss">
#hubspot-messages-iframe-container {
  &.d-none {
    display: none !important;
  }
}
a:hover {
  color: rgb(7, 4, 4);
}
.support-form {
  overflow-y: auto;
  .form {
    position: relative;
    width: 100%;
    max-width: 500px;
    z-index: 100;
    .form-title {
      font-size: 1.3em;
    }
  }
  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .close-button {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    color: white;
    text-align: center;
    background: black;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
    cursor: pointer;
  }
}
// .request-support {
//   box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.15);
//   background-color: #ffffff;
//   position: fixed;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   padding: 12px;
//   z-index: 200;
//   .btn-request-support {
//     border: solid 1px #070404;
//     font-family: ProximaNova;
//     font-size: 14px;
//     font-weight: 600;
//     font-stretch: normal;
//     font-style: normal;
//     line-height: 1.71;
//     letter-spacing: normal;
//     color: #070404;
//     display: block;
//     padding: 12px;
//     width: 100%;
//     z-index: 200;
//     background: #ffffff;
//     outline: none;
//   }
//   .close-button {
//     position: absolute;
//     top: 50%;
//     width: 16px;
//     height: 16px;
//     margin-top: -8px;
//     display: none;

//     &:hover {
//       opacity: 1;
//     }
//     &::before,
//     &::after {
//       position: absolute;
//       left: 8px;
//       content: " ";
//       height: 16.5px;
//       width: 2px;
//       background-color: #333;
//     }

//     &::before {
//       transform: rotate(45deg);
//     }
//     &::after {
//       transform: rotate(-45deg);
//     }
//   }
// }
.project-detail-wp {
  padding-top: 90px;
  padding-bottom: 30px;

  .breadcrumbs {
    display: flex;
    align-items: center;
    font-size: 12px;
    .back {
      display: flex;
      align-items: center;
      padding-right: 6px;
      margin-right: 8px;
      border-right: 1px solid;
      height: 12px;
      text-transform: uppercase;

      .icon {
        width: 12px;
        height: 12px;
        background: url("../../assets/images/back.png");
        background-size: 100%;
        display: block;
      }
    }
    .breadcrumb-item {
      color: rgb(7, 4, 4);
      opacity: 0.5;
      &:last-child {
        font-weight: bold;
        opacity: 1;
      }
    }
  }

  .project-info {
    margin-top: 16px;
    .title {
      font-family: ProximaNova;
      font-size: 32px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      color: #070404;
    }
    .description {
      font-family: ProximaNova;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: justify;
      color: #070404;
    }
  }
  .buttons-area {
    margin-top: 40px;
    ul {
      display: flex;
      list-style-type: none;
      padding-left: 0;
      a,
      &:hover a {
        transition: all 0.4s ease;
      }
      li {
        margin: 0px 10px;
        &:first-child {
          margin-left: 0px;
        }

        &:hover {
          a {
            font-weight: bold;
            cursor: pointer;
          }

          i {
            background: #000;

            &:before {
              color: #fff;
            }
          }
        }

        i {
          margin-right: 5px;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
          width: 30px;
          height: 30px;
          border-radius: 50%;
          display: inline-block;
          background: #fff;
          transition: all 0.5s ease;

          &.icofit.fit-vr {
            font-size: 18px;
          }

          &:before {
            padding: 8px 7px;
            display: block;
          }

          &.icofit.fit-vr:before {
            padding: 6px;
          }
        }
      }
    }
  }
}

.project-detail-content {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.download-button {
  margin-top: 40px;
  .download {
    margin: auto;
    height: 40px;
    box-shadow: 0 10px 15px 0 rgba(182, 127, 0, 0.44);
    background-image: linear-gradient(to bottom, #ebce54, #d3a02a);
    display: flex;
    align-items: center;
    padding: 0px 20px;
    border: none;
    outline: none;
    .icon {
      margin: 8px;
      &.icon-download {
        width: 20px;
        height: 20px;
        background: url("../../assets/images/icon-download.png");
        background-size: 100%;
        display: block;
      }
    }
    .btn-text {
      font-family: ProximaNova;
      font-size: 14px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: normal;
      color: #ffffff;
    }
  }
}
.big-img,
.big-iframe {
  height: 250px;
}
@media (min-width: 992px) {
}

@media (min-width: 767px) {
  .big-img,
  .big-iframe {
    height: 650px;
  }
}

@media (max-width: 992px) {
}

@media screen and (max-width: 767px) {
  .project-detail-wp {
    .breadcrumbs {
      display: none;
    }
    .buttons-area {
      ul {
        display: flex;
        flex-direction: column;

        li {
          margin: 10px 0px;
          &:first-child {
            margin-top: 0px;
          }
          &.button-3d-view {
            display: none;
          }
        }
      }
    }
  }
  .support-form {
    .form {
      width: 100%;
    }
  }
}
@media (max-width: 580px) {
}
</style>