<template>
  <div class="project-layouts-list-wrapper">
    <Header />
    <div class="breadcrumbs container">
      <nuxt-link to="/">
        <span class="back">
          <span class="icon icon-back"></span> Quay lại
        </span>
      </nuxt-link>
      <span class="breadcrumb-item">
        <nuxt-link to="/">Trang chủ</nuxt-link>
      </span>
      <span class="breadcrumb-item">{{type.name}}</span>
    </div>

    <div class="project-layout-container">
      <div class="title">CÁC MẪU THIẾT KẾ CHO {{type.name}}</div>
      <div class="container">
        <div class="layout-list">
          <div
            class="layout-item-wrapper"
            v-for="item of this.layouts"
            v-bind:key="'project-' + item.int_id"
          >
            <nuxt-link :to="`/${type.type}/${item.int_id}`">
              <LayoutItem :data="item" />
            </nuxt-link>
          </div>
        </div>

        <hr />
      </div>

      <div class="other-design">
        <div class="title">CÁC MẪU THIẾT KẾ PHÒNG KHÁC</div>
        <div class="apartment-types container">
          <template v-for="item in otherTypes">
            <ApartmentTypeItem  :key="'apartment-type-' + item.type" v-if="item" :data="item"></ApartmentTypeItem>
          </template>
        </div>
      </div>

      <!-- FORM SUPPORT -->
      <section class="form-support" id="tu-van">
        <SupportForm :projects="projectData" />
      </section>
    </div>
    <Footer />
  </div>
</template>

<script>
import Header from "@/components/Commont/Header";
import Footer from "@/components/Commont/Footer";
import LayoutItem from "@/components/layout-item/layout-item";
import SupportForm from "@/components/support-form/support-form";
import ApartmentTypeItem from "@/components/apartment-type-item/apartment-type-item";

import { get } from "lodash";

export default {
  components: {
    Header,
    Footer,
    LayoutItem,
    SupportForm,
    ApartmentTypeItem
  },
  validate({ params }) {
    return params.typeRoom;
  },
  async asyncData({ store, params }) {
    const layouts = await store.dispatch(
      "project/getApiLayoutRenovationByRoomType",
      params.typeRoom
    );
    const roomCategory = await store.dispatch("project/getApiRoomCategory");
    return {
      projectData: layouts,
      layouts: layouts,
      type: roomCategory.filter(item => item.type === params.typeRoom )[0],
      otherTypes: roomCategory.filter(item => item.type !== params.typeRoom )
    };
  },
  data() {
    return {
      projectData: []
    };
  },
  methods: {}
};
</script>
<style lang="scss">
.project-layouts-list-wrapper {
  margin-top: 100px;

  .breadcrumbs {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-bottom: 40px;

    .back {
      display: flex;
      align-items: center;
      padding-right: 6px;
      margin-right: 8px;
      border-right: 1px solid;
      height: 12px;
      text-transform: uppercase;

      .icon {
        width: 12px;
        height: 12px;
        background: url("../../assets/images/back.png");
        background-size: 100%;
        display: block;
      }
    }
    .breadcrumb-item {
      color: rgb(7, 4, 4);
      opacity: 0.5;
      &:last-child {
        font-weight: bold;
        opacity: 1;
      }
    }
  }
  .title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.6rem;
    margin-bottom: 30px;
  }

  .layout-list {
    display: flex;
    flex-wrap: wrap;

    .layout-item-wrapper {
      width: calc((100% - 30px) / 3);
      margin-right: 15px;

      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }
  }

  .form-support {
    position: relative;
    width: 100%;
    background: url("../../assets/images/form-support-background.jpg") no-repeat;
    background-size: auto 50%;
    background-position-x: center;
    background-position-y: 0px;
    padding: 80px 0px;
    // max-width: 80%;
    margin: auto;

    .form {
      max-width: 500px;
      margin: auto;
      width: 70%;
    }
  }

  .other-design {
    margin: 60px auto;
    .apartment-types {
      display: flex;
      justify-content: center;

      .apartment-type {
        width: 33.33%;
        padding: 0px 8px;

        .apartment-type-wrapper {
          .image-wrapper {
            margin-bottom: 12px;
            width: 100%;
            overflow: hidden;

            img {
              width: 100%;
              height: auto;
              transition: transform 0.5s ease-in-out;

              &:hover {
                cursor: pointer;
                transform: scale(1.1);
              }
            }
          }

          .name {
            text-align: center;
            padding-bottom: 12px;
          }

          &:hover {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27);
          }
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    .layout-list {
      .layout-item-wrapper {
        width: 95%;
        margin: auto;
      }
    }

    .form-support {
      width: 100%;
      max-width: 100%;
      .form {
        margin: auto;
        width: 90%;
      }
    }
    .other-design {
      .apartment-types {
        display: flex;
        flex-direction: column;

        .apartment-type {
          width: 95%;
          margin: auto;
          padding: 8px;
        }
      }
    }
  }
}
</style>
