{% extends 'template_1/layouts/default.twig' %}

{% block content %}
    <div class="homepage-wrapper">
        <section class="slider-wp">
            <div class="container">
                <div class="slider-main-content">
                    <div class="banner-video-wrapper d-md-block">
                        <iframe
                                src="https://www.youtube.com/embed/IP_dD7Yi7Zo?autoplay=1&controls=0&loop=1&playlist=IP_dD7Yi7Zo&playsinline=1&mute=1"
                                frameborder="0"
                                allow="accelerometer; autoplay; fullscreen; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen
                                class="w-100 h-100"
                                id="banner-video"
                        ></iframe>
                        <div class="img-cover d-md-block">
                            <img src="{{ content.project_image_url }}" alt="{{ content.project_name }}"/>
                        </div>
                        <div class="gif-banner d-md-none">
                            <img src="{{ GiftMobile }}" alt />
                        </div>
                    </div>
                    <div class="block-info">
                        <h1 class="title mb-0">
                            ƯU ĐÃI
                            <span class="yellow">25%</span> TRỌN GÓI NỘI THẤT
                        </h1>
                        <div class="sub-title">THIẾT KẾ NGUYÊN CĂN <span class="text-uppercase">{{ content.project_name }}</span> CHỈ 24 GIỜ!</div>
                        <div class="ttc">Ưu đãi áp dụng trọn gói nội thất rời*</div>
                    </div>
                </div>
            </div>
        </section>
        <section id="tu-van-thiet-ke" class="apartment-types-block container">
            <div class="title">BẠN MUỐN THIẾT KẾ CHO LOẠI CĂN HỘ</div>
            <hr>
            <div class="apartment-types">
                {% if content.bed_room_num_1 is not empty and content.bed_room_num_1 | length > 0 %}
                    <div class="apartment-type">
                        <div class="title">Căn hộ 1 phòng ngủ</div>
                        <div class="apartment-style-slider-wrapper apartment-style-slider-wrapper-1">
                            {% for type in content.bed_room_num_1 %}
                                <a href="/chi-tiet/{{ type['slug'] }}-{{ type['layout_id'] }}"
                                   class="apartment-style-slider p-1 pt-0 pb-0">
                                    <div class="apartment-style-item">
                                        <div class="image-wrapper">
                                            <img src="{{ type['image_url'] }}" alt="{{ type['name'] }}"
                                                 class="img-responsive">
                                            <span class="price">Giá chỉ từ: {{ type['price'] | number_format }} VND</span>
                                        </div>
                                        <div class="desc">
                                            <div class="row">
                                                <span class="label">Tên dự án</span>
                                                <span class="value">{{ type['name'] }}</span>
                                            </div>
                                            <div class="row d-none">
                                                <span class="label">Toà nhà</span>
                                                <span class="value"></span>
                                            </div>
                                            <div class="row d-none">
                                                <span class="label">Mã căn hộ</span>
                                                <span class="value"></span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if content.bed_room_num_2 is not empty and content.bed_room_num_2 | length > 0 %}
                    <div class="apartment-type">
                        <div class="title">Căn hộ 2 phòng ngủ</div>
                        <div class="apartment-style-slider-wrapper apartment-style-slider-wrapper-2">
                            {% for type in content.bed_room_num_2 %}
                                <a href="/chi-tiet/{{ type['slug'] }}-{{ type['layout_id'] }}"
                                   class="apartment-style-slider p-1 pt-0 pb-0">
                                    <div class="apartment-style-item">
                                        <div class="image-wrapper">
                                            <img src="{{ type['image_url'] }}" class="img-responsive">
                                            <span class="price">Giá chỉ từ: {{ type['price'] | number_format }} VND</span>
                                        </div>
                                        <div class="desc">
                                            <div class="row">
                                                <span class="label">Tên dự án</span>
                                                <span class="value">{{ type['name'] }}</span>
                                            </div>
                                            <div class="row d-none">
                                                <span class="label">Toà nhà</span>
                                                <span class="value"></span>
                                            </div>
                                            <div class="row d-none">
                                                <span class="label">Mã căn hộ</span>
                                                <span class="value"></span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if content.bed_room_num_3 is not empty and content.bed_room_num_3 | length > 0 %}
                    <div class="apartment-type">
                        <div class="title">Căn hộ 3 phòng ngủ</div>
                        <div class="apartment-style-slider-wrapper apartment-style-slider-wrapper-3">
                            {% for type in content.bed_room_num_3 %}
                                <a href="/chi-tiet/{{ type['slug'] }}-{{ type['layout_id'] }}"
                                   class="apartment-style-slider p-1 pt-0 pb-0">
                                    <div class="apartment-style-item">
                                        <div class="image-wrapper">
                                            <img src="{{ type['image_url'] }}" class="img-responsive">
                                            <span class="price">Giá chỉ từ: {{ type['price'] | number_format }} VND</span>
                                        </div>
                                        <div class="desc">
                                            <div class="row">
                                                <span class="label">Tên dự án</span>
                                                <span class="value">{{ type['name'] }}</span>
                                            </div>
                                            <div class="row d-none">
                                                <span class="label">Toà nhà</span>
                                                <span class="value"></span>
                                            </div>
                                            <div class="row d-none">
                                                <span class="label">Mã căn hộ</span>
                                                <span class="value"></span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </section>
        {% include 'components/section-steps.twig' %}
        <a class="btn btn-fitin-hadocentrosa">TƯ VẤN NGAY</a>
        {% include 'components/section-partners.twig' %}
        {% include 'components/section-video.twig' %}
        <section id="tu-van" class="form-support">
            <script>window.ApiSubmitHubspot = '{{ config.quotation_url }}/api/v1/hubspot/form/quick/submit'</script>
            <form action="">
                <div class="form">
                    <input type="hidden" name="project" value="{{ content.project_name }}">
                    <input type="hidden" name="tower" value="{{ content.project_name }}">
                    <div class="form-title">BẠN ĐÃ SẴN SÀNG CHO CĂN HỘ TRONG MƠ</div>
                    <!---->
                    <div class="form-field">
                        <label for="supports">Bạn cần Fitin</label>
                        <select id="supports" class="custom-select">
                            <option value="Tư vấn cải tạo căn hộ">Tư vấn cải tạo căn hộ</option>
                            <option value="Tư vấn nội thất phù hợp với nhu cầu">Tư vấn nội thất phù hợp với nhu cầu
                            </option>
                            <option value="Tư vấn thi công cải tạo phòng khách">Tư vấn thi công cải tạo phòng khách
                            </option>
                            <option value="Tư vấn thi công cải tạo phòng ngủ">Tư vấn thi công cải tạo phòng ngủ</option>
                            <option value="Yêu cầu khác ..">Yêu cầu khác ..</option>
                        </select>
                    </div>
                    <span style="font-style:italic;font-size:12px">Vui lòng để lại thông tin, FITIN sẽ liên hệ bạn ngay</span>
                    <div class="form-field">
                        <label for="customer-name">Tên của bạn</label>
                        <input name="customer-name" required class="txt-name">
                    </div>
                    <div class="form-field">
                        <label for="phone">Số điện thoại của bạn</label>
                        <input name="phone" type="number" required class="txt-name">
                    </div>
                    <div class="form-field">
                        <label for="phone">Email của bạn</label>
                        <input name="email" type="email" required class="txt-name">
                    </div>
                    <div class="form-field">
                        <button type="submit" class="btn btn-fitin">GỬI YÊU CẦU</button>
                    </div>
                </div>
            </form>
        </section>
        {% include 'components/section-idea-space.twig' %}
        {% include 'components/section-news-about.twig' %}
        {% include 'components/section-offices.twig' %}
    </div>
{% endblock %}
