<script src="static/template_1/js/jquery.min.js"></script>
<script src="static/template_1/js/bootstrap.min.js"></script>
<script src="static/template_1/js/axios.min.js"></script>
<script src="static/template_1/js/sweetalert.min.js"></script>
<script src="static/template_1/js/js.cookie-2.2.1.min.js"></script>
<script src="static/template_1/js/jquery.validate.min.js"></script>
{# Libs #}
<script src="static/template_1/libs/slick/slick.min.js"></script>

<script src="static/template_1/js/script.js"></script>